@import '../../components/Styles/typography.scss';

.projectBanner {
  display: flex;
  height: 450px;
  background-color: var(--c-grey-d10);
  background-image: url('./picture.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120px;
}

.uploadBanner {
  background-color: var(--c-white);
  padding: var(--spacing);
  border-radius: var(--border-radius);
  margin: var(--spacing) auto auto calc(var(--spacing) * 2);
  color: var(--c-black);
  font-size: var(--font-size-sm);
  text-align: center;

  @include breakpoint-down(md) {
    margin-right: var(--spacing-xlg);
    margin-left: var(--spacing-xlg);
    width: 100%;
  }
}

.bannerPreview {
  img {
    height: var(--spacing-xlg);
  }

  button {
    margin-top: var(--spacing-lg);
  }
}

.uploadDescriptiveImage {
  color: var(--c-black);
  font-size: var(--font-size-sm);
  text-align: center;
}

.descriptiveImageDescription {
  color: var(--c-black);
  font-size: var(--font-size-sm);
  text-align: center;
  background-color: var(--c-grey);
  border-radius: var(--border-radius);
  padding: var(--spacing);

  img {
    height: var(--spacing-xlg);
  }
}

.descriptiveImagePreview {
  width: 100%;
}

.dropzone {
  border: 1px dashed var(--c-grey-d10);
  border-radius: var(--border-radius);
  padding: var(--spacing) !important;
}

.error {
  color: var(--c-red);
}

.projectInfoBlock {
  margin-top: -400px;
  margin-left: auto;
  margin-right: var(--spacing-xlg);

  background-color: var(--c-white);
  box-shadow: var(--box-shadow-lg);
  padding: var(--spacing-xlg);
  border-radius: var(--border-radius);
  width: 450px;
  
  @include breakpoint-down(md) {
    margin-top: -250px;
    margin-left: var(--spacing-xlg);
    margin-right: var(--spacing-xlg);
    width: unset;
  }
}

.form {
  // ui-material creates an extra div around the form controls
  & > div {
    display: flex;
    flex-direction: column;

    & > div {
      margin: var(--spacing-lg) 0 var(--spacing-lg) 0;
    }
  }
}

.formControl {
  margin: var(--spacing-lg) 0 var(--spacing-lg) 0 !important;
}

.submitProject {
  text-align: center;

  button {
    padding-left: calc(var(--spacing-xlg) * 3);
    padding-right: calc(var(--spacing-xlg) * 3);
  }
}