@import '../../components/Styles/typography.scss';

.banner {
  height: 450px;
}

.intro {
  display: flex;
  background-color: var(--c-grey);
}

.introBlock {
  background-color: var(--c-green);
  color: var(--c-white);
  padding: var(--spacing-xlg);
  border-radius: var(--border-radius);
  width: 450px;
  margin-top: -400px;
  margin-bottom: auto;
  
  @include breakpoint-up(md) {
    margin-right: calc(var(--spacing-xlg) * 2);
    margin-left: auto;
  }

  @include breakpoint-down(md) {
    margin-right: var(--spacing);
    margin-left: var(--spacing);
    width: auto;
  }

  h1 {
    margin-bottom: 0 !important;
  }
}

.cta {
  text-align: center;
  margin-top: var(--spacing-xlg);
  // margin-bottom: var(--spacing-xlg);
  
  a {
    display: inherit;
  }
}

.howItWorks {
  text-align: center;
  
  h1 {
    @include large-title();
  }
}

.faq {
  h2 {
    color: var(--c-green);
  }
}