@import "../../mixins";
@import "../../colors";

#thank-you-commit {
    #thank-you {
        background-color: $coll-action-green;
        color: #fff;

        padding: 30px 0 30px 0;

        @media (max-width: 991px) {
            text-align: center;
        }
    }

    #share-it {
        background-color: $background-gray;

        padding: 30px 0 30px 0;

        @media (max-width: 991px) {
            text-align: center;
        }

        h2 {
            color: $coll-action-green;
        }
    }
}