@media (max-width: 991px) {
  #project-info-card {
    padding: 20px !important;
  }
}

@media (min-width: 991px) {
  #project-starter-row {
    .col-md-3 {
      margin-top: -300px !important;
    }
  }
}

#project-details {
  .project-image {
    color: #999;

    .caption {
      padding-right: 0px !important;
    }

    .image {
      padding-left: 0px !important;
      i {
        position: relative;
        top: -295px;
        left: 745px;
      }
    }

    figcaption {
      h5 {
        padding: 0px;
        margin: 0px;
      }

      p {
        margin-top:0px;
      }

      width:100%;
      background-color: #ebebeb;
      padding: 15px;
    }

    img {
      background-color: gray;
      width:100%;
      max-height: 300px;
      box-shadow: 5px 5px 20px -9px rgba(0, 0, 0, 0.45)
    }
  }

  #project-background {
    background-color: #ff8142;
    height: 450px;
  }


  #project-info-card {
    border-radius: 20px;
    margin: -265px 20px 20px 20px;
    background-color: #fff;
    padding: 40px;
    box-shadow: 10px 10px 122px -9px rgba(0,0,0,0.55);

    #more-info {
      p {
        margin: 0px;
      }
    }

    #more-info,
    #project-location {
      text-align: center;
      width: 80%;
      margin: 0 auto;
      font-size: 1.25em;
    }

    #project-participation {
      font-size: 1.25em;
      li {
        list-style: none;
        display: inline-block;
        width: 25%;
        h4 {
          margin: 0px 0px 5px 0px;
        }

        p {
          margin:0px;
        }
      }

    }


    h1 {
      text-align: center;
      color: $coll-action-green;
    }

    #take-part-button {
      @include coll-action-button;
      width: 100%;
      display: inline-block;
    }

    #project-category {
      background-color: #00AEEF;
      padding: 0px 10px;
      border-radius: 5px;
      color: #fff;
      display: inline-block;
      text-align: right;
    }

    #project-progress {
      display: table;
      margin: 0 auto;
      margin-bottom: 35px;

      canvas {
        margin-bottom: -30px;
        margin-right: 20px;
      }

      h2 {
        display: inline;
        font-size: 5em;
      }
  }

  }

  #project-starter-row {
    margin-top: 40px;
  }
    

  #project-starter-avatar {
    background-color: #ff8142;
    border-radius: 250px;
    height: 150px;
    width: 150px;
  }

}
