@import "../../colors";
@import "../../mixins";

@media (max-width: 767px) {
    #project-details {
        font-size: 100% !important;
    }

    #project-participation {
        ul {
            padding-left: 5px !important;
        }
    }

    #project-starter-avatar {
        background-color: #ff8142;
        border-radius: 250px;
        height: 75px !important;
        width: 75px !important;
    }

    #project-starter-name {
        font-size: 1em !important;
        h3 {
            font-size: 1em !important;
        }
    }
}

@media (max-width: 991px) {
  .align-sides {
      padding-left: 25px !important;
      padding-right: 25px !important;
  }

  #project-info-card {
    padding: 20px !important;
    margin: -100px 0px 0px 0px !important;
  }
}

@media (min-width: 991px) {

  #project-starter-row {
    .col-md-3 {
      margin-top: -300px !important;
    }
  }
}

#project-details {
    padding-bottom: 50px;

    hr {
        border-top-width: 2px;
    }

    .take-part-button {
        @include coll-action-button;
        width: 100%;
        display: inline-block;
        letter-spacing: 0.09em;
        background-color: $friesland-blue;

        &.disable-commit {
            pointer-events: none;
        }
    }

    .participating {
        text-align: center;
        color: $friesland-blue;
        font-size: 1.14em;
        letter-spacing: 0.09em;
        margin: 0px;
    }

    .align-sides {
        padding-left: 0px;
        padding-right: 0px;
    }

    .project-image {
        color: #999;
        display: flex;
        flex-wrap: wrap;
        padding: 0px;

        .image {
            padding: 0px !important;

            img {
                background-color: gray;
                width: 100%;
                box-shadow: 5px 9.5px 34px -9px rgba(0, 0, 0, 0.45)
            }
        }

        .caption {
            background-color: #ebebeb;
            padding: 15px;
            font-size: 0.9em;

            h5 {
                padding: 0px;
                margin: 0px;
            }

            p {
                margin-top: 0px;
            }
        }
    }

    #project-background {
        background-color: #ff8142;
        height: 450px;
        background-size: cover;
    }

    #project-info-card {
        border-radius: 20px;
        margin: -265px 20px 20px 20px;
        background-color: #fff;
        padding: 40px;
        box-shadow: 10px 10px 122px -9px rgba(0,0,0,0.55);

        #more-info {
            p {
                margin: 0px;
            }
        }

        #more-info,
        #project-location {
            text-align: center;
            width: 80%;
            margin: 0 auto;
            font-size: 1.21em;
            font-weight: bold;
        }

        #project-participation {
            font-size: 1.12em;

            ul {
                padding-left: 20px;

                li {
                    list-style: none;
                    display: inline-block;
                    width: 30%;

                    h4 {
                        margin: 0px 0px 5px 0px;
                    }

                    p {
                        margin: 0px;
                    }
                }
            }
        }


        h1 {
            text-align: center;
            color: $friesland-blue;
            word-wrap: break-word;
            margin-bottom: 0px;
        }


        #project-category {
            background-color: #00AEEF;
            padding: 0px 10px;
            border-radius: 5px;
            color: #fff;
            display: inline-block;
            text-align: right;
        }

        #project-progress {
            display: table;
            margin: 0 auto;
            margin-bottom: 35px;

            canvas {
                margin-bottom: -30px;
                margin-right: 20px;
            }

            h2 {
                display: inline;
                font-size: 5em;
            }
        }
    }

    #project-starter-row {
        margin-top: 40px;
    }


    #project-starter-avatar {
        background-color: #ff8142;
        border-radius: 250px;
        height: 150px;
        width: 150px;
    }

    #project-starter-name {
        font-size: 1.29em;

        h3 {
            margin-bottom: 0em;
        }

        p {
            margin-top: 0em;
            margin-bottom: 0em;
        }
    }

    #more-info,
    .project-short-description,
    .project-goal,
    .project-proposal,
    .project-comments,
    .caption {
        word-wrap: break-word;
    }

    .video-container {
        padding-left: 0px;
        padding-right: 0px;

        .ytembed {
            box-shadow: 0px 9.5px 34px 0px rgba(0, 0, 0, 0.36);
        }
    }

    .description-tags-container {
        padding-right: 15px;
    }

    .project-proposal {
        font-style: italic;
        color: $friesland-blue;
    }

    .bottom-take-part {
        padding-top: 50px;
    }

    .project-dates {
        span {
            font-size: 1em;
            font-weight: normal;
        }
    }
}

#project-share {
    background-color: #f7f7f7;
    padding: 20px 0px 40px 0px;
}

@media (min-width: 992px) {
    #project-background {
        padding: 150px 0px;
    }
}

@media (max-width: 992px) {
    #project-background {
        padding: 70px 0px;
    }
}