@import "../../colors";
@import "../../mixins";

#start-info {          
    hr {
        border-top-width: 2px;
    }

    #background {
        background-color: white;
        height: 565px;
        background-size: cover;
        background-image: url('/images/start-project.jpg')
    }

    #starting-card-container {
        background-color: #efefef;
    }

    a.btn {
        border-radius: 20px;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        margin: 20px 0;
        padding: 10px 20px;
        text-align: center;
    }

    #starting-card {
        color: white;
        border-radius: 20px;
        background-color: $coll-action-green;
        padding: 20px 40px;
        box-shadow: 10px 10px 40px -9px rgba(0,0,0,0.55);

        @media (min-width: 768px) {
            margin: -365px 40px 35px 0px;
        }
        @media (max-width: 767px) {
            margin: -365px 10px 35px 10px;
        }

        h2 {
            font-weight: lighter;
            margin-top: -20px;
        }

        a.btn {
            color: $coll-action-green;
            background-color: white;
            width: 100%;
        }
    }

    #how-it-works {
        background: #efefef;
        text-align: center;

        padding-bottom: 50px;
        
        h1 {
            color: $coll-action-green;
            font-size: 3em;
        }

        .step {
            margin-bottom: 20px
        }

        a.btn {
            color: white;
            background-color: $coll-action-green;
            width: 100%;
        }
    }

    #faq {
        padding-bottom: 50px;

        h1 {
            color: $coll-action-green;
        }

        a, i {
            color: #8a8a8a;
        }

        a {
            text-decoration: none;
        }

        .is-closed i.fa.fa-minus {
            display: none;
        }

        .is-open i.fa.fa-plus {
            display: none;
        }

        .toggle {
            float: right !important;
        }

        .Collapsible__contentOuter {
            border-bottom: 1px solid #8a8a8a;
        }
    }

    #kickstart {
        padding-bottom: 50px;

        #kickstart-card {
            border-radius: 5px;
            background-color: #efefef;
            padding: 20px 40px;
    
            h2 {
                color: $coll-action-green;
            }

            p {
                font-size: 18px;
            }

            a.btn {
                color: white;
                background-color: $coll-action-green;

                @media (min-width: 768px) {
                    padding: 10px 80px;                    
                }
                
                @media (max-width: 767px) {
                    width: 100%;
                }                
            }

            .logo {
                width: 40px;
            }
        }
    }
}