@import "../../colors";
@import "../../mixins";

#start-info {          
    hr {
        border-top-width: 2px;
    }

    #background {
        background-color: white;
        height: 565px;
        background-size: cover;
        background-image: url('/images/start-project.jpg')
    }

    #starting-card-container {
        background-color: #efefef;
    }

    a.btn {
        border-radius: 20px;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        margin: 20px 0;
        box-shadow: 1px 1px 40px -9px rgba(0,0,0,0.55);
        padding: 10px 20px;
        text-align: center;
    }

    #starting-card {
        color: white;
        border-radius: 20px;
        margin: -365px 20px 35px 20px;
        background-color: $coll-action-green;
        padding: 20px 40px;
        box-shadow: 10px 10px 40px -9px rgba(0,0,0,0.55);

        h2 {
            font-weight: lighter;
            margin-top: -20px;
        }

        a.btn {
            color: $coll-action-green;
            background-color: white;
            width: 100%;
        }
    }

    #how-it-works {
        background: #efefef;
        text-align: center;
        padding-bottom: 50px;
        
        h1 {
            color: $coll-action-green;
            font-size: 3em;
        }

        .step {
            margin-bottom: 20px
        }

        a.btn {
            color: white;
            background-color: $coll-action-green;
            width: 100%;
        }
    }
}