@import "../../components/Styles/responsive";

section {
  position: relative;
  padding-top: var(--spacing-xlg);
  padding-bottom: var(--spacing-xlg);
  width: 100%;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    z-index: -1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: var(--spacing-md);
  }

  p {
    font-size: var(--font-size-md);
    margin-bottom: var(--spacing-lg);
  }

  ul,
  ol {
    margin-left: var(--spacing-lg);

    &:not(:last-child) {
      margin-bottom: var(--spacing-lg);
    }

    li {
      line-height: var(--line-height);

      &:not(:last-child) {
        padding-bottom: var(--spacing-sm);      
      }
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  &.center {
    text-align: center;
  }
}

.title {
  margin-bottom: var(--spacing-lg);
  color: var(--c-green);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
  text-align: center;
}

.green {
  color: var(--c-white);
  background-color: var(--c-green);

  .title {
    color: var(--c-white);
  }
}

.grey {
  background-color: var(--c-grey);
}