@using CollAction.Services.Donation
@using Microsoft.Extensions.Options
@inject IOptions<StripeJavascriptOptions> StripeOptions

<div id="donation-mission" class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-6">
        <h3>Our mission</h3>
        <h1>We help people <b>solve collective action problems</b> through crowacting.</h1>
    </div>
</div>
<div id="donation" class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-5">
        <div id="donation-box" data-stripe-public-key="@StripeOptions.Value.StripePublicKey"></div>
    </div>
    <div class="col-xs-12 col-md-offset 6 col-md-5">
        <div id="faq" class="faqs">
            <h1>Frequently Asked Questions</h1>
            <div id="faq-why-donate"></div>
            <div id="faq-whats-it-spent-on"></div>
            <div id="faq-who-started-it"></div>
            <div id="faq-is-it-deductable"></div>
        </div>
    </div>
</div>
