@using Microsoft.AspNetCore.Identity
@using CollAction.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="" asp-controller="Manage" asp-action="Index">Account</a>
    @:&nbsp; 
    @:&nbsp;
    @:&nbsp;
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
        <input type="submit" value="Logout" id="logOutBtn" />
    </form>
}
else
{
    <a asp-area="" asp-controller="Account" asp-action="Login" id="logInBtn">Login</a>
}