@using Microsoft.AspNetCore.Identity
@using CollAction.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<ul class="navbar-right">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <form  asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                <input type="submit" value="Log off" class="btn btn-default btn-link navbar-btn navbar-link" id="logOutBtn" />
            </form>
        </li>
    }
    else
    {
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-default">Log in</a>
        </li>
    }
</ul>
