<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand title heading">
  <div class="logo-container">
    <div class="text">
      <span>Coll</span>Action
    </div>
    <div class="logo"></div>
  </div>
</a>