@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var canTrack = consentFeature.CanTrack;
}

<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-toggle collapsed">
                <div id="navbar-toggler" data-target-id="collaction-menu" data-toggle-class="in"></div>
            </div>
            <div class="logo">
                <partial name="_logo" />
            </div>
        </div>

        <div class="collapse navbar-collapse" id="collaction-menu">
            <ul class="nav navbar-nav">
                <li class="visible-xs"><a asp-controller="Home" asp-action="Undex">Home</a></li>
                <li><a asp-controller="Projects" asp-action="Find">Find Project</a></li>
                <li><a asp-controller="Projects" asp-action="StartInfo">Start Project</a></li>
                <li><a asp-controller="Home" asp-action="About">About</a></li>
            </ul> 
            <ul class="nav navbar-nav navbar-right">
                @if (User.IsInRole(Constants.AdminRole))
                {
                    <li><a asp-controller="Admin" asp-action="Index">Admin Dashboard</a></li>
                }
                else if (canTrack)
                {
                    <li><a class="attention" asp-controller="Donation" asp-action="Donate"><i class="fa fa-heart"></i>&nbsp;Donate</a></li>
                }

                @if (SignInManager.IsSignedIn(User))
                {
                    <li><a asp-controller="Manage" asp-action="Index">Account</a></li>
                    <li>
                        <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                            <input type="submit" value="Logout" id="logOutBtn" />
                        </form>
                    </li>
                }
                else
                {
                    <li class="hidden-xs"><a asp-controller="Account" asp-action="Login" class="btn" id="logInBtn">Login</a></li>
                    <li class="visible-xs"><a asp-controller="Account" asp-action="Login">Login</a></li>
                }
            </ul>
        </div>           
    </div>
</nav>