.container {
  margin-top: calc(var(--spacing)) !important;
}

.label {
  top: calc(var(--spacing) * -1) !important;
}

.error {
  border-top: 1px var(--c-red) solid;

  // Plot over the editor's bottom line
  margin-top: -1px;
  z-index: 1;
}