body {
    font-family: 'Raleway', sans-serif;
    color: #111;
}

.body-content {
    margin-top: 50px;
}

.dotbackground {
  background:  radial-gradient(rgb(255, 255, 255) 5px, rgba(0,0,0,0) 5px), radial-gradient(#efefef 5px, rgba(0,0,0,0) 5px), rgba(147, 148, 148, 0);
  background-position: 0 0, 30px 30px;
  background-size: 100px 100px;
}

.heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
}

.heading span {
    font-weight: 400;
}

.heading .logo {
    background-image: url(/images/sprites.png);
    width: 23px;
    height: 19px;
    background-position-x: -119px;
    background-position-y: -5px;
    display: inline-block;
}

.heading .text {
    display: inline-block;
}

.header #NavigationBar a {
    font-weight: 700;
}

.footer {
    text-decoration: none;
    font-size: .85em;
    line-height: 2.5em;
    color: #999;
    font-weight: bold;
}


.footer a,
.header a {
    color: inherit; 
    text-decoration: inherit; 
}

.footer li {
    list-style: none;
}

.footer h5 {
    text-transform: uppercase;
    font-size: .95em;
}

.footer .tag-list li {
    border: 1px solid #ccc;
    display: inline;
    padding: 1px 3px;
    font-size: .75em;
    text-transform: uppercase;
    border-radius: 3px;
}

.footer .social-list {
    padding: 0px;
    margin: 0px;
}

.footer .social-list i {
    margin-right: 5px;
}


/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
