#contentBody {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    text-decoration: none;
    font-size: .85em;
    line-height: 2em;
}

.footer a {
    color: inherit; 
    text-decoration: inherit; 
}

.footer a:hover  {
    text-decoration: underline; 
}

.footer ul {
    margin: 0px;
    padding: 0px;
}

.footer li {
    list-style: none;
}

.footer h5 {
    text-transform: uppercase;
    font-size: .95em;
}

.footer .tag-list li {
    border: 1px solid #ccc;
    display: inline;
    padding: 1px 3px;
    font-size: .75em;
    text-transform: uppercase;
    border-radius: 3px;
}

.footer .column-container {
    border-right: 1px solid #ccc;
    height: 150px;
}

.footer .social-list i {
    margin-right: 5px;
}

.footer .column-container:last-child {
    border-right: none !important;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
