.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose.yml
docker-compose.*.yml
env_collaction
env_postgres
CollAction/bin
CollAction/obj
CollAction/*cache
CollAction/*json
CollAction/CollAction.csproj.user
CollAction.Tests
scripts
Frontend