.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose.yml
docker-compose.*.yml
CollAction/bin
CollAction/obj
CollAction/node_modules
CollAction/*.txt
CollAction/wwwroot/js
CollAction/CollAction.csproj.user