DbPassword=replace_on_deployment
DbHost=db
DbUser=postgres
DbPort=5432
Db=CollActionDb
FromAddress=your@email
SesAwsAccessKey=
SesAwsAccessKeyId=
SesRegion=
AdminPassword=
AdminEmail=your@email
ImportLocationData=0
MailChimpKey=
SlackHook=
Authentication:Facebook:AppId=
Authentication:Facebook:AppSecret=
Authentication:Google:ClientId=
Authentication:Google:ClientSecret=
Authentication:Twitter:ConsumerKey=
Authentication:Twitter:ConsumerSecret=
