StripeSecretApiKey=
StripePublicApiKey=
StripeChargeableWebhookSecret=
StripePaymentEventWebhookSecret=
SesRegion=eu-west-1
SesAwsAccessKeyId=
SesAwsAccessKey=
SeedTestProjects=true
S3Region=eu-central-1
S3Bucket=collaction-test
S3AwsAccessKeyID=
S3AwsAccessKey=
MailChimpTestListId=1a035c45ca
MailChimpNewsletterListId=1a035c45ca
MailChimpKey=
FromAddress=collactionteam@gmail.com
Authentication:Twitter:ConsumerSecret=
Authentication:Twitter:ConsumerKey=
Authentication:Google:ClientSecret=
Authentication:Google:ClientId=
Authentication:Facebook:AppSecret=
Authentication:Facebook:AppId=
ApplicationInsights:InstrumentationKey=
AdminPassword=_Pass123$_
AdminEmail=collactionteam@gmail.com