StripeSecretApiKey=
StripePublicApiKey=
StripeApiKey=
SesRegion=
SesAwsAccessKeyId=
SesAwsAccessKey=
SeedTestProjects=
S3Region=
S3Bucket=
S3AwsAccessKeyID=
S3AwsAccessKey=
MailChimpTestListId=
MailChimpNewsletterListId=
MailChimpKey=
FromAddress=
DbUser=postgres
DbPassword=...
Db=CollActionDb
Authentication:Twitter:ConsumerSecret=
Authentication:Twitter:ConsumerKey=
Authentication:Google:ClientSecret=
Authentication:Google:ClientId=
Authentication:Facebook:AppSecret=
Authentication:Facebook:AppId=
ApplicationInsights:InstrumentationKey=
AdminPassword=
AdminEmail=