#manage-account {
  
    padding-bottom: 50px;
  
    #project-list {
      padding: 0;
  
      .project-thumb-container {
        padding: 0 20px 0 0;
      }
    }
}

.symetric_buttons{
    width: 100%;
}