@import '../../mixins';

#manage-account {
  
    padding-bottom: 50px;
  
    #project-list {
      padding: 0;
  
      .project-thumb-container {
        padding: 0 20px 0 0;
      }
    }

    a.btn {
        @include coll-action-button;
        width: 100%;
    }
    
    .panel-body {
        input[type="submit"] {
            width: 100%;
        }
    }
}
