@import "../../mixins";
@import "../../colors";

#forgot-password-confirmation-starting {
  padding: 50px 0px;

  @media (max-width: 767px) {
    h1 {
      text-align: center;
      color: $coll-action-green;
      text-transform: uppercase;
      font-size: 2em;
      letter-spacing: 10px;
      margin: 0px 0px 5px 0px;
    }
  }

  @media (min-width: 768px) {
    h1 {
      text-align: center;
      color: $coll-action-green;
      text-transform: uppercase;
      font-size: 4em;
      letter-spacing: 10px;
      margin: 0px 0px 5px 0px;
    }
  }
}

#forgot-password-confirmation-content {
    background-color: #efefef;
    padding: 50px 0px;

    .row {
        margin-bottom: 50px;
    }
}