@import "../../mixins";
@import "../../colors";

#forgot-password-starting {
    padding: 50px 0px;

    h1 {
        text-align: center;
        color: $coll-action-green;
        text-transform: uppercase;
        font-size: 4em;
        letter-spacing: 10px;
        margin: 0px 0px 5px 0px;
    }

    h4 {
        color: gray;
        text-align: center;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 10px;
        margin: 0px;
    }
}

#forgot-password-form {
    background-color: #efefef;
    padding: 50px 0px;

    .row {
        margin-bottom: 50px;
    }
}