@import '../../../style/settings/colors';

#footer {
    background-color: #f7f7f7;
    padding: 50px 0px;
    font-size: 12px;
    line-height: 2.5em;

    .logo {
        margin-bottom: 12.5px;
    }

    .intro {
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.2px;
    }

    .nav-list li {
        margin-bottom: 10px;
        font-weight: bold;
    }

    ul {
        margin-top: 0px;
    }

    .header {
        font-weight: 600;
    }

    .social-list {
        padding: 0px;
        margin: 0px;
        display: inline-block;

        li {
            font-weight: bold;
            color: var(--c-white);
            float: left;
            height: 35px;
            width: 35px;
            background-color: var(--c-primary);
            font-size: 1.5em;
            border-radius: 1em;
            margin-right: 5px;

            div {
                margin: auto;
                margin-top: 2px;
                width: 50%;
                
                .fa-facebook,
                .fa-linkedin {
                    margin-left: 2px;
                }
            }
        }
    }

    #mc_embed_signup {
        label, 
        #mc-embedded-subscribe,
        .indicates-required {
            display: none;
        }
    }

    input[type=email] {
        width: 250px;
        border: none;
        outline: none;
        background-color: #e6e6e6;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
        padding: 0px 30px 0px 15px;
    }

    .email-icon {
        position: relative;
        z-index: 1;
        left: -25px;
        top: 1px;
        width: 0px;
        color: #7d7d7d;
    }

    li {
        list-style: none;
    }

     h5 {
        text-transform: uppercase;
        font-size: .95em;
        margin-top:0px;
        margin-bottom:2px;
    }
    
    .tag-list li {
        border: 1px solid #ccc;
        display: inline;
        padding: 1px 3px;
        font-size: .75em;
        text-transform: uppercase;
        border-radius: 3px;
    }

    a {
        color: inherit; 
        text-decoration: inherit; 
    }

    #footer-remarks
    {
        a {
            text-decoration: underline;
        }
    }
}

