@using Stripe
@using Microsoft.Extensions.Options
@inject IOptions<RequestOptions> StripeOptions
@{
    ViewData["Title"] = "Donate";
}

<h1>Donate</h1>

<form action="your-server-side-code" method="POST">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="@StripeOptions.Value.ApiKey"
            data-name="CollAction Donation"
            data-label="Donate"
            data-description="Widget"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-zip-code="true">
    </script>
</form>