@using Stripe
@using Microsoft.Extensions.Options
@inject IOptions<RequestOptions> StripeOptions
@{
    ViewData["Title"] = "Donate";
}

<div class="container-fluid">
    <partial name="_DonationBox" />
</div>