@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Thank you for supporting CollAction!"];
}

<div id="thank-you-commit">
    <div class="container-fluid">
        <div id="thank-you" class="row">
            <div class="col-xs-12 col-md-offset-5 col-md-7">
                <h1>Thank you for supporting CollAction!</h1>
            </div>
        </div>
    </div>
</div>