@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model string

@{
    ViewData["Title"] = Localizer["Thank you for supporting CollAction!"];
}

<h1>Awesome!</h1>
<h2>Thank you '@Model' for supporting CollAction!</h2>