@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "E-mailbevestiging"; /*Confirm Email*/
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        @*Thank you for confirming your email. Please Click here to Log in.*@
        Dank voor het bevestigen van je email! <a asp-controller="Account" asp-action="Login">Klik hier om in te loggen</a>.
    </p>
</div>
