@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "E-mailbevestiging"; /*Email confirmation*/
}

<div id="email-confirmation-starting">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @*Email confirmation*@
                <h1>E-mailbevestiging</h1>

                @*(Thank you for confirming your email)*@
                <h4>(Dank voor het bevestigen van je email!)</h4>
            </div>
        </div>
    </div>
</div>

<div id="email-confirmation-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <p>
                    @*Please Click here to Log in.*@
                    <a asp-controller="Account" asp-action="Login">Klik hier om in te loggen</a>.
                </p>
            </div>
        </div>
    </div>
</div>