@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Kon niet inloggen"];
}

<div id="login-starting">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>@ViewData["Title"]</h1>
                <h4>Kon niet inloggen met service.</h4>
            </div>
        </div>
    </div>
</div>