@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div id="forgot-password-confirmation-starting">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Forgot password confirmation</h1>
            </div>
        </div>
    </div>
</div>

<div id="forgot-password-confirmation-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </div>
</div>