@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    // Forgot password confirmation
    ViewData["Title"] = "Bevestiging opnieuw instellen wachtwoord";
}

<div id="forgot-password-confirmation-starting">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @*Forgot password confirmation*@
                <h1>Bevestiging opnieuw instellen wachtwoord</h1>
            </div>
        </div>
    </div>
</div>

<div id="forgot-password-confirmation-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <p>
                    @*Please check your email to reset your password.*@
                    Check je e-mail om je wachtwoord opnieuw in te stellen.
                </p>
            </div>
        </div>
    </div>
</div>