@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div id="forgot-password-starting">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Forgot your password?</h1>
                <h4>(enter your email)</h4>
            </div>
        </div>
    </div>
</div>

<div id="forgot-password-form">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <form asp-controller="Account" asp-action="ForgotPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        @Html.ValidationMessage("Email")
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}