@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<div id="reset-password-starting">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Reset your password</h1>
            </div>
        </div>
    </div>
</div>

 <div id="reset-password-form">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <form asp-controller="Account" asp-action="ResetPassword" method="post">

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <input asp-for="Code" type="hidden" />

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        @Html.ValidationMessage("Email")
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        @Html.ValidationMessage("Password")
                    </div>

                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        @Html.ValidationMessage("ConfirmPassword")
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Reset" class="btn btn-default" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
