@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Reset password confirmation";
}

<div id="reset-password-confirmation-starting">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Reset password confirmation</h1>
                <h4>(your password has been reset)</h4>
            </div>
        </div>
    </div>
</div>

<div id="reset-password-confirmation-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <p>
                    Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.
                </p>
            </div>
        </div>
    </div>
</div>