@import '../Styles/typography';
@import '../Styles/responsive.scss';

///Global custom properties
:root {
    --spacing: 1rem;
    --spacing-xs: calc(var(--spacing) * 0.25);
    --spacing-sm: calc(var(--spacing) * 0.5);
    --spacing-md: calc(var(--spacing) * 0.75);
    --spacing-lg: calc(var(--spacing) * 3);
    --spacing-xlg: calc(var(--spacing) * 5);

    //Font
    --font-family: 'Raleway', sans-serif;

    --font-size: 16px;
    --font-size-xs: calc(var(--font-size) * 0.5);
    --font-size-sm: calc(var(--font-size) * 0.75);
    --font-size-md: calc(var(--font-size) * 1.125);
    --font-size-xmd: calc(var(--font-size) * 1.5);
    --font-size-lg: calc(var(--font-size) * 2);
    --font-size-xl: calc(var(--font-size) * 3);

    --font-weight-light: 200;
    --font-weight-regular: 300;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --letter-spacing: normal;
    --letter-spacing-md: 0.02rem;
    --letter-spacing-lg: 0.08rem;

    //Colors
    --c-green: #23d884;
    --c-green-d10: #14be6f;
    --c-black: #111111;
    --c-white: #ffffff;
    --c-grey: #f7f7f7;
    --c-grey-d10: #d8d8d8;
    --c-grey-d20: #cfcdcd;
    --c-grey-d30: #808080;
    --c-blue: #3762ae;
    --c-blue-d10: #295196;
    --c-orange: #e88424;
    --c-orange-d10: #db7413;
    --c-purple: #7b2164;
    --c-purple-d10: #6d1a58;
    --c-red: #f44336;
    
    //Transitions
    --transition-duration: 200ms;
    --transition-ease: ease;
    
    //Other
    --border-radius: var(--spacing-md);
    --border-radius-sm: 4px;
    --box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.25);
    --box-shadow-lg: 10px 10px 40px -9px rgba(0, 0, 0, 0.55);
    --line-height: 1.5;
}

* {
    box-sizing: border-box;
}

html,
body { 
    padding: 0;
    margin: 0;
    font-size: var(--font-size);
    font-family: var(--font-family);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

p,
figure {
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;    

    .site-content {
        flex-grow: 1;
    }
}

a {
    color: var(--c-green);
    font-weight: bold;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.site-content {
    @include breakpoint-down(md) {
        padding-top: var(--header-height);
    }
}