//Global custom properties
:root {
    --spacing: 1rem;
    --spacing-xs: calc(var(--spacing) * 0.25);
    --spacing-sm: calc(var(--spacing) * 0.5);
    --spacing-md: calc(var(--spacing) * 0.75);
    --spacing-lg: calc(var(--spacing) * 1.5);
    --spacing-xlg: calc(var(--spacing) * 2);

    //Font
    --font-family: 'Raleway', sans-serif;

    --font-size: 16px;
    --font-size-ratio: 1.4;
    --font-size-sm: calc(var(--font-size) * var(--font-size-ratio) * 0.5);
    --font-size-md: calc(var(--font-size) * var(--font-size-ratio) * 0.75);
    --font-size-lg: calc(var(--font-size) * var(--font-size-ratio) * 1.5);
    --font-size-xl: calc(var(--font-size) * var(--font-size-ratio) * 2);

    --font-weight-light: 200;
    --font-weight-regular: 400;
    --font-weight-bold: 600;

    //Colors
    --c-green: #23d884;
    --c-green-d10: #14be6f;
    --c-black: #000000;
    --c-white: #ffffff;
    --c-grey: #f7f7f7;
    --c-grey-d10: #e6e6e6;
    --c-grey-d20: #cfcdcd;
    --c-blue: #3762ae;
    --c-blue-d10: #295196;
    --c-orange: #e88424;
    --c-orange-d10: #db7413;
    --c-purple: #7b2164;
    --c-purple-d10: #6d1a58;

    //Transitions
    --transition-duration: 200ms;
    --transition-ease: ease;
    
    //Other
    --border-radius: var(--spacing-lg);
    --line-height: 1.5;
}

html,
body { 
    padding: 0;
    margin: 0;
    font-size: var(--font-size);
    font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;    

    .site-content {
        flex-grow: 1;
    }
}
