.main {
  text-align: center;
  padding: var(--spacing-xlg) 0;

  .step {
    > * {
      margin: var(--spacing-lg) auto;
    }

    h1 {
      color: var(--c-green);
    }
  
    img {
      width: 57px;
      height: 72px;
    }
    
    p {
      line-height: var(--spacing-xlg);
    }
  }
    
}