.main {
  text-align: center;

  h2 {
    margin-bottom: var(--spacing-xlg);
  }

  .step {
    text-align: center;
    padding: 0 var(--spacing-md);
    margin-bottom: var(--spacing-lg);
    
    > * {
      margin: var(--spacing-md) auto;
    }

    img {
      width: 57px;
      height: 72px;
    }
    
    h1 {
      color: var(--c-green);
    }
      
    p {
      line-height: var(--spacing-xlg);
    }
  }
    
}