.main {
  text-align: center;

  .step {
    > * {
      margin: var(--spacing-md) auto;
    }

    h1 {
      color: var(--c-green);
    }
  
    img {
      width: 57px;
      height: 72px;
    }
    
    p {
      line-height: var(--spacing-xlg);
    }
  }
    
}