@import '../Styles/responsive';

.crowdactionStarter {
  border: 1px solid var(--c-grey-d10);
  border-radius: var(--border-radius-sm);
  padding: var(--spacing);
  
  margin-bottom: var(--spacing);

  @include breakpoint-down(sm) {
    margin-top: var(--spacing-xxl-2);
  }
}

.avatarContainer {
  display: flex;
  justify-content: center;
}

.avatar {
  margin-top: calc(var(--spacing-xxl-2) / 2 * -1.5);
  width: var(--spacing-xxl-2) !important;
  height: var(--spacing-xxl-2) !important;
}

.crowdactionStarterTitle {
  font-size: var(--font-size-sm);
}
