@using Microsoft.AspNetCore.Mvc.Localization
@using CollAction.Services.Project

@inject IViewLocalizer Localizer
@inject IProjectService ProjectService

@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<input type="hidden" id="RequestVerificationToken" name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">

<div class="container">
    <div id="manage-account">
        <div class="row">
            <div class="col-md-5 col-xs-12">
                <h2>Manage your account</h2>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <dt>Password</dt>
                    </div>
                    <div class="panel-body">
                        <p>
                            Changing your password regularly and using different passwords for different sites helps keep your digital identity safe. Tip: use a password manager!
                        </p>
                        <a class="btn" asp-controller="Manage" asp-action="ChangePassword">
                            Change your password
                        </a>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <dt>Newsletter Subscription</dt>
                    </div>
                    <div class="panel-body">
                        <form asp-controller="Manage" asp-action="NewsletterSubscription" method="post" class="form-horizontal">
                            <input type="hidden" asp-for="NewsletterSubscription" value="@(!Model.NewsletterSubscription)" /> 
                            @Html.ValidationMessage("NewsletterSubscription") 
                            @if (Model.NewsletterSubscription)
                            {
                                <p>
                                    We won't spam you, we'll just send you an update from CollAction every once in a while. But if you just want to keep your inbox as clean as possible, you can unsubscribe here.
                                </p>
                                <p>
                                    Note: it'll take a few seconds to process your change.
                                </p>
                                <input type="submit" value="Unsubscribe" /> 
                            } 
                            else 
                            {
                                <p>
                                    Subscribe to our newsletter if you would like to receive an update from CollAction every once in a while - don't worry, we like spam as little as you do! 🙂 
                                </p>
                                <p>
                                    Note: it'll take a few seconds to process your change.
                                </p>
                                <input type="submit" value="Subscribe" /> 
                            }
                        </form>
                    </div>
                </div>
                @if (!User.IsInRole(Constants.AdminRole))
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <dt>Delete Account</dt>
                        </div>
                        <div class="panel-body">
                            <p>
                                We're sorry if you want to leave... however, if you really want to, you can delete your account here.
                            </p>
                            <form asp-controller="Account" asp-action="Delete" method="post">
                                <div id="delete-user"></div>
                            </form>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-7 col-xs-12">
                <div id="participating-in-projects"></div>
            </div>
            <div class="col-md-7 col-xs-12">
                <div id="my-projects"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}