@import '../../../style/tools/mixins';
@import '../../../style/settings/colors';

#about-page {

  nav {
    @include card;
    position: fixed;
    top: 1000px;
    left: 20px;
    padding: 20px;
    width: 240px;
    font-weight: bold;
    font-size: 20px;
    z-index: 1;

    ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;

      li {
        margin: 10px 0px;
      }

      li:before {
        content: "•";
        color: var(--c-primary);
        margin-right: 20px;
      }
    }

    a {
      color: #666;
      cursor: hand;
    }

    a:hover {
      text-decoration: none;
    }
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 26px;
  }

  .seperator {
    height: 20px;
  }

  #about-us,
  #about-collaction,
  #meet-the-team,
  #jobs,
  #partners,
  #faq,
  #three-steps,
  #intro-text,
  #banner-title {
    padding: 50px 0px;
  }

  a.fragment {
    display: block;
    position: relative;
    top: -85px;
    visibility: hidden;
  }

  #about-us {
    background-color: var(--c-primary);
    color: var(--c-white);
  }

  #meet-the-team,
  #partners {
    background-color: var(--c-gray-light);
  }

  #meet-the-team {

    #team-member-container {
      width: 100%;      
      margin: 25px 0px;
    }

    .team-member {
      display: inline-block;
      width: 145px;
      height: 170px;
      vertical-align: top;
      text-align: center;

      img {
        width: 100px;
        height: 100px;
        background-color: #666;
        border-radius: 50px;
      }
    }

    #dot-container {
      margin: 0 auto;
      display: inline-block;
    }

    .dot {
      height: 5px;
      width: 5px;
      border-radius: 5px;
      margin: 5px;
      background-color: #666;
      display: inline-block;
    }

    .dot-active {
      background-color: var(--c-primary);
    }
  }

  #criteria:target {
    padding-top: 90px;
    margin-top: -90px;
    display: block;
  } 
}
