@import 'styles/login.scss';
@import 'styles/register.scss';
@import 'styles/forgotPassword.scss';
@import 'styles/forgotPasswordConfirmation.scss';
@import 'styles/resetPassword.scss';
@import 'styles/resetPasswordConfirmation.scss';