@import '../../../components/Styles/responsive';

.banner {
  height: 450px;

  background-image: url(../../../assets/happy-people.jpg);
  background-size: cover;
  background-position: center;
}

.cardContainer {
  background-color: var(--c-grey);
}

.callToAction {
  text-align: center;
}

// .howItWorks {
//   text-align: center;
// }

// .faq {
//   h2 {
//     color: var(--c-green);
//   }
// }