@import '../../../components/Styles/responsive';

.intro {
    .title {
        color: var(--c-green);
        text-align: center;
        margin-bottom: 0;

        @include breakpoint-down(md) {
            font-size: var(--font-size-md);
        }
    }

    .subtitle {
        font-size: var(--font-size-lg);
        color: var(--c-grey-d30);
        text-align: center;

        @include breakpoint-down(md) {
            font-size: var(--font-size-sm);
        }
    }
}

.divider {
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: var(--spacing-lg);
    padding-bottom: var(--spacing-lg);
    z-index: 1;

    span {
        display: inline-block;
        text-align: center;
        background-color: var(--c-grey);
        padding: 0 var(--spacing-sm);
    }

    &::after {
        position: absolute;
        content: "";
        height: 1px;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translate3d(0, -50%, 0);
        background-color: var(--c-black);
        z-index: -1;
    }
}