.timeToActStep {
    text-align: start;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    padding-inline-start: 1em;
    padding-inline-end: 1em;
}
.timeToActStepBody {
    padding-bottom: 2em;
    padding-block-end: 2em;
}