@mixin card {
    -webkit-box-shadow: 10px 10px 10px -5px rgba(170,170,170,1);
    -moz-box-shadow: 10px 10px 10px -5px rgba(170,170,170,1);
    box-shadow: 10px 10px 10px -5px rgba(170,170,170,1);
    background-color: #fff;
    color: #333;
    border-radius: 15px;
}

@mixin coll-action-button {
    background-color: $coll-action-green;
    color: #fff;
    padding: 10px 50px;
    border: none;
    border-radius: 20px;
    font-size: 1em;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-block;

    a {
      text-decoration: none;
    }
}

@mixin friesland-action-button {
    @include coll-action-button;
    background-color: $friesland-blue;    
}