@import '../Styles/responsive.scss';

:global {
    .slick-list {
        padding-bottom: var(--spacing); // Fix for overflow-y

        @include breakpoint-down(sm) {
            margin-top: var(--spacing-lg);
            overflow-x: auto; // Horizontal scroll on mobile
        }
    }

    .slick-slide {
        width: 100%;
        min-width: 240px;
        max-width: 370px;
        margin-right: var(--spacing);

        @include breakpoint-up(sm) {
            width: 28vw;
        }
    }

    .slick-arrow {
        width: 38px;
        height: 38px;
        border-radius: 100%;
        border: 1px solid var(--c-black);
        opacity: .5;

        &::before {
            content: "";
            width: 6px;
            height: 11px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            background-image: url(../../assets/svg/arrow.svg);
            background-size: cover;
            margin-left: 2px;
        }
    }

    .slick-disabled {
        opacity: 1;
        border-color: var(--c-grey-d10);

        &::before {
            opacity: 1;
            color: var(--c-grey-d10);
        }
    }

    .slick-prev {
        left: -7.5vw;

        &::before {
            transform: translate3d(-50%, -50%, 0) rotate(-180deg);
            margin-left: -2px;
        }

        @include breakpoint-up(sm) {
            left: -50px;
        }
        
        @include breakpoint-up(md) {
            left: -25.5vw;
        }

        @include breakpoint-up(lg) {
            left: -39%;
        }
    }

    .slick-next {
        @include breakpoint-up(sm) {
            right: -3rem;
        }
    }
}

.container {
    margin-bottom: var(--spacing-xxl-2);

    @include breakpoint-up(md) {
        margin-top: var(--spacing-lg);
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @include breakpoint-up(xl) {
        padding: 0;
    }
}

.intro {
    display: block;
    height: 100%;
    margin-left: -24px;
    margin-right: -24px;
    height: calc(100% - var(--spacing)); // Fix for overflow-y
    padding: var(--spacing-xxl-2) 2rem;
    text-align: center;
    color: var(--c-white);
    background-color: var(--c-green);

    a {
        margin: var(--spacing-xs);
        margin-top: var(--spacing);
    }

    @include breakpoint-up(md) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-right: var(--spacing);
        padding: var(--spacing-md);
        border-radius: var(--border-radius-sm);

        a {
            display: block;
            margin: 0;
            margin-top: var(--spacing);
        }
    }

    @include breakpoint-up(lg) {
        padding: var(--spacing-lg);
    }
}

.introText {
    font-size: var(--font-size-md);
}

.sliderContainer {
    // Horizontal scroll on mobile
    @include breakpoint-down(sm) {
        overflow: hidden;
    }

    @include breakpoint-up(sm) {
        padding: var(--spacing-xxl-2) 3rem;
    }

    @include breakpoint-up(md) {
        padding: 0;
    }
}