:global {

    .slick-list {

    }

    .slick-slide {
        width: 370px;
        margin-right: var(--spacing);
    }

    .slick-arrow {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: 1px solid var(--c-black);
        opacity: .5;

        &::before {
            color: var(--c-black);
        }
    }

    .slick-disabled {
        opacity: 1;
        border-color: var(--c-grey-d10);

        &::before {
            opacity: 1;
            color: var(--c-grey-d10);
        }
    }

    .slick-prev {
        left: -36%;
    }
}

.intro {
    display: inline-block;
    padding: 0 var(--spacing-md);
    margin-right: var(--spacing);
    height: 100%;
    text-align: center;
    color: var(--c-white);
    background-color: var(--c-green);
    border-radius: var(--border-radius-sm);

    a {
        margin-top: var(--spacing);
    }
}

.introTitle {
    margin-top: var(--spacing-lg);
}

.introText {
    margin-bottom: var(--spacing);
}