@import '../colors';
@import '../mixins';

#festival-page {

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 26px;
  }

  #intro,
  #banner,
  #about-festival {
    padding: 50px 0px;
    ul {      
      list-style: none;
      padding-left: 0;
    }
  }

  #banner,
  #partners {
    background-color: #7EC4A5;
    color: #fff;
  }

  #partners {
    h1 {
      text-align: center;
    }    
  }

  #banner,
  #partners {
    img {
      width: 100%;
    }
  }
}
