
#index {

  .banner-link,
  .project-actions-link {
    @include coll-action-button;
    width: 100%;
    margin-bottom: 20px;
  }
  
  #festival-banner,
  #festival-banner-mobile {
    background-color: $coll-action-green;
    color: white;
    text-align: center;

    a {
      color: white;
      border: 1px solid white;
      border-radius: 20px;
      padding: 5px 10px;
      display: inline-block;
      text-decoration: none;
    }
  }

  #festival-banner {
    a {
      margin-left: 20px;
    }
  }

  #festival-banner-mobile {
    a {
      margin-bottom: 16px;
    }
  }

  @media (max-width: 767px) {
    #festival-banner {
      display: none;
    }
  }

  @media (min-width: 768px) {
    #festival-banner-mobile {
      display: none;
    }
  }  

  #title-row {

    margin-top: 150px;

    h1, h2 {
      margin:0px;
      padding:0px;
    }

    h1 {
      font-weight: 700;
      font-size: 34px;
    }

    h2 {
      font-weight: 400;
    }

    text-align: center;
    margin-bottom: 50px;
  }

  #link-row {
    margin-bottom: 150px;
  }

  #intro-text,
  #three-steps {
    h3 {
      color: $coll-action-green;
    }

    a {
      font-weight: bold;
      color: $coll-action-green;
    }
  }

  #intro-text {
    text-align: center;
  }

  #three-steps {
    text-align: center;
    background-color: $background-gray;
  }

  #join-a-project {
    h3 {
      text-align: center;
      font-size: 4em;
      text-transform: uppercase;
      letter-spacing: 10px;
      color: $coll-action-green;
    }
  }

  #project-create-starting {
    background-color: #efefef;
  }

  #homepage-share-buttons
  {
    margin-bottom: 25px;
  }

  #three-steps,
  #intro-text {
    padding: 50px 0px;
  }

  #project-actions {
    background-color: #fff;
    padding: 50px 0px 0px 0px;
  }

  #project-share {
    background-color: #f7f7f7;
    padding: 20px 0px 40px 0px;
  }

  #banner-title {
    background-image: url(/images/front-page.jpg);
    color: $coll-action-green;
  }


}

@media (min-width: 991px) {
  #project-actions {
    display:none;
  }


  #banner-title {
    .banner-link {
      height: 150px;
      border-radius: 150px;
      width: 150px;
      padding: 65px 0px;
      font-weight: 700;
    }
  }

  #index {
    #title-row {
      h1 {
        font-size: 5em;
      }
    }
  }
}

@media (max-width: 991px) {
  #join-a-project {
    display:none;
  }

  #index {

    #title-row {
      h1 {
        font-size: 2.5em;
      }
    }
    
    #project-share {
      background-color: #fff;
      padding-top: 0px;

      #home-share-container {
        background-color: #fff;
        border: none;
        
        h3 {
          font-size: 1.7em;
        }
      }
    }
  }
}