.form-group {
    .quill {
        margin-top: 10px;
        margin-bottom: 90px;
    }    
}

.ql-container {
    background-color: white;
}

.richtext-counter {
    position: absolute;
    width: 100%;
    padding-right: 30px;
    margin-top: -20px;

    text-align: right;
    font-size: 0.8em;
    color: gray;
}