@import "../../colors";

.banner {
  color: $coll-action-green;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 991px) {
  .banner {
    background-size: 230%;
  }
}
