@import "../../colors";

.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 991px) {
  .banner {
    background-size: 230%;
  }
}
