@import "../../colors";

#cookie-message,#cookie-message-change {
    .cookie-message-banner {
        background-color: $coll-action-green;
        color: white;
        text-align: center;

        a {
            color: white;
            text-decoration: underline;
        }
    
        a.btn {
            color: white;
            border: 1px solid white;
            border-radius: 20px;
            padding: 5px 10px;
            display: inline-block;
            text-decoration: none;
            width: 250px;
        }
    }
}