@import "../../colors";

.faq-item {
    a, i {
        color: #8a8a8a;
    }

    a {
        text-decoration: none;
    }

    .is-closed i.fa.fa-minus {
        display: none;
    }

    .is-open i.fa.fa-plus {
        display: none;
    }

    .toggle {
        float: right !important;
    }

    .Collapsible__contentOuter {
        border-bottom: 1px solid #8a8a8a;
    }
}