@import "../../colors";

#footer {
    background-color: #f7f7f7;
    padding: 50px 0px;
    font-size: 12px;
    line-height: 2.5em;

    .logo {
        margin-bottom: 12.5px;
    }

    .intro {
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.2px;
    }

    .nav-list li {
        margin-bottom: 10px;
        font-weight: bold;
    }

    ul {
        margin-top: 0px;
    }

    .header {
        font-weight: 600;
    }

    .social-list {
        padding: 0px;
        margin: 0px;
        display: inline-block;

        li {
            font-weight: bold;
            color: #fff;
            float: left;
            height: 35px;
            width: 35px;
            background-color: $coll-action-green;
            font-size: 1.5em;
            border-radius: 1em;
            margin-right: 5px;

            div {
                margin: auto;
                margin-top: 2px;
                width: 50%;
                
                .fa-facebook,
                .fa-linkedin {
                    margin-left: 2px;
                }
            }
        }
    }

    li {
        list-style: none;
    }

     h5 {
        text-transform: uppercase;
        font-size: .95em;
        margin-top:0px;
        margin-bottom:2px;
    }
    
    .tag-list li {
        border: 1px solid #ccc;
        display: inline;
        padding: 1px 3px;
        font-size: .75em;
        text-transform: uppercase;
        border-radius: 3px;
    }

    a {
        color: inherit; 
        text-decoration: inherit; 
    }

    #footer-remarks
    {
        a {
            text-decoration: underline;
        }
    }


    //Newsletter signup
    .newsletter-signup {
        position: relative;
    }

    .newsletter-signup__container {
        display: flex;
        transition: opacity .3s;

        &.loading {
            opacity: 0.5;
            pointer-events: none;
        }
    }
  
    .newsletter-signup__input {
        width: 250px;
        border: none;
        outline: none;
        background-color: #e6e6e6;
        padding: 0px 30px 0px 15px;
        -webkit-border-radius: 2em 0 0 2em;
        -moz-border-radius: 2em 0 0 2em;
        border-radius: 2em 0 0 2em;
    }

    .newsletter-signup__submit {
        padding: 5px 15px;
        -webkit-border-radius: 0 2em 2em 0;
        -moz-border-radius: 0 2em 2em 0;
        border-radius: 0 2em 2em 0;
        transition: background-color .15s;
        background-color: black;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    .newsletter-signup__message {
        position: absolute;
        width: 250px;
        padding: 10px;
        border-radius: 5px;
        top: 0;
        left: 0;
        transform: translate3d(0, 100%, 0);
        opacity: 0;
        color: white;
        line-height: 1.5;
        z-index: 1;
        transition: transform .15s, opacity .15s;

        &.show-error,
        &.show-success {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }

        &.show-error {
            transform: translate3d(0, 50px, 0);
            background-color: red;
        }

        &.show-success {
            background-color: $coll-action-green;
        }
    }
}

