@import "../../colors";
@import "logos";

#footer {
    background-color: #f7f7f7;
    padding: 20px 0px;
    text-decoration: none;
    font-size: .85em;
    line-height: 2.5em;
    border-top: 1px solid #e6e6e6;

    ul {
      margin-top: 0px;
    }


    #logos {
        text-align: center;
        margin-bottom: 30px;
    }

    .social-list {
        padding: 0px;
        margin: 0px;
        display: inline-block;

        li {
            font-weight: bold;
            color: #fff;
            float: left;
            height: 35px;
            width: 35px;
            background-color: #cdcdcd;
            font-size: 1.5em;
            border-radius: 1em;
            margin-right: 5px;
            padding-left: 9px;
            padding-top: 3px;
        }

        i {
            margin-right: 5px;
        }
    }

    #mc_embed_signup {
        label, 
        #mc-embedded-subscribe,
        .indicates-required {
            display: none;
        }
    }

    input[type=email] {
        border: none;
        outline: none;
        background-color: #efefef;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
        padding: 0px 15px;
    }

    li {
        list-style: none;
    }

     h5 {
        text-transform: uppercase;
        font-size: .95em;
        margin-top:0px;
        margin-bottom:2px;
    }
    
    .tag-list li {
        border: 1px solid #ccc;
        display: inline;
        padding: 1px 3px;
        font-size: .75em;
        text-transform: uppercase;
        border-radius: 3px;
    }

    a {
        color: inherit; 
        text-decoration: inherit; 
    }

    .remarks {
        a {
            text-decoration: underline
        }
    }    
}

@media (max-width: 991px) {
    #footer {
        #logos > div {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}