@import "../../colors";
@import '../../mixins';

#header {
    .navbar {
        margin-bottom: 0;
        padding: 20px 0 20px 0;

        @media (min-width: 768px) {
            .navbar-nav {
                height: 44px;

                & > li > a {
                    margin-top: 1px;   // Align with the logo
                }
            }
        }

        .navbar-toggle {
            font-size: 30px;
            padding: 0;
            margin: 0 0 0 20px;
            width: 0;   // reset so the logo will center correctly

            button {
                border: none;
                margin: 0;
                padding: 0;
                width: auto;
                overflow: visible;
                outline: none;            
                background: transparent;
            }
        }

        .logo {
            text-align: center;
        }

        .navbar-nav > li {
            margin-left: 20px;
        }

        a.btn {
            @include coll-action-button;
            text-transform: none;
        }
        
        ul.nav > li > a:not(.btn) {
            font-weight: bold;
            color: #111;
            padding-top: 10px;
            padding-bottom: 10px;

            &.attention {
                @media (min-width: 768px) {
                    color: $coll-action-green;
                    font-weight: lighter;
                }
            }
            
            @media (max-width: 767px) {
                font-weight: lighter;
                font-size: 22px;
                color: $coll-action-green;

                line-height: inherit;
                margin-left: 40px;
            }

            &:hover, 
            &:focus {
                text-decoration: underline;
                background-color: inherit;
            }
        }
    }
}
