@import '../../../components/Styles/responsive';

.intro {
    .title {
        color: var(--c-green);
        text-align: center;
        margin-bottom: 0;

        @include breakpoint-down(md) {
            font-size: var(--font-size-md);
        }
    }
}
  
.submit {
    margin-top: var(--spacing-lg);
    text-align: center;
}