@import '../../../components/Styles/responsive';

.upload {
  background-color: var(--c-white);
  border-radius: var(--border-radius);
  color: var(--c-black);
  text-align: center;
}

.dropzone {
  border: 1px dashed var(--c-grey-d10);
  border-radius: var(--border-radius);
  padding: var(--spacing) !important;
}

.error {
  color: var(--c-red);
}

.imagePreview {
  img {
    height: var(--spacing-lg);
  }

  button {
    margin-top: var(--spacing);
  }
}

.descriptiveImagePreview {
  width: 100%;
}
