@{
    ViewData["Title"] = "About";
}
<div>
    <h3>CollAction.org - the first Crowd Acting platform in the world.</h3>
    <blockquote>
        <p>“A better world starts with the crowd.”</p>
    </blockquote>

    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/u6tqZqoh8DY?theme=dark&amp;rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    </div>

    <hr />

    <h2>Add FAQ</h2>

</div>