.heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
}

.heading span {
    font-weight: 400;
}

.heading .logo {
    background-image: url(/images/sprites.png);
    width: 23px;
    height: 19px;
    background-position-x: -119px;
    background-position-y: -5px;
    display: inline-block;
}

.heading .text {
    display: inline-block;
}

#header #NavigationBar a {
    font-weight: 700;
}


#header {
    margin: 20px 0px;

    form {
        float:right;
    }

    .nav-bar {
        margin-top: 11px;
    }

    a {
        color: #111;
        text-decoration: none;
    }

    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    li {
        display: inline;
        margin: 0px 5px 0px 0px;
    }

}
