@import "../colors.scss";

#find-project {
  width: 100%;

  #project-filter {
    color: #eee;
    padding: 30px;
    background-color: #333;
    font-size: 3em;

    .project-filter-drop-down {
      cursor: pointer;
      display: inline-block;
      border: 3px solid #eee;
      padding: 0px 25px;
      border-radius: 35px;
      margin: 15px 0px;

      i {
        font-size: 0.75em;
        margin-left: 5px;
      }
    }
  }
}

#start-project {
  #project-steps {
    h1, h6 {
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    h6 {
      font-size: 2.5em;
    }
  }

  #nice-button {
    background-color: $coll-action-green;
    color: #fff;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    padding: 50px;
    font-size: 6em;
    font-weight: 900;
    padding: 90px 50px;
  }

  h2 {
    color: $coll-action-green;
  }

  p {
    font-size: 1.25em;
  }

  .row {
    margin-bottom: 50px;
  }

  h1 {
    font-size: 4em;
    color: $coll-action-green;
  }

  h6 {

  } 

}
