.dotbackground {
  background:  radial-gradient(rgb(255, 255, 255) 5px, rgba(0,0,0,0) 5px), radial-gradient(#efefef 5px, rgba(0,0,0,0) 5px), rgba(147, 148, 148, 0);
  background-position: 0 0, 30px 30px;
  background-size: 100px 100px;
}