.projectHighlightBanner {
    background-color: #4b72fe;
    padding: 20px 0;
    color: #fff;

    img {
        float: left;
        margin-right: 20px;
    }

    h1 {
        font-size: 18pt;
    }

}