.footer {
    padding-top: var(--spacing-xlg);
    padding-bottom: var(--spacing-xlg);
    background-color: var(--c-grey);
    font-size: var(--font-size-sm);
    line-height: calc(var(--line-height) * 1.5);
}

.logo {
    padding-bottom: var(--spacing-md);
}