@import '../Styles/responsive';

.footer {
    padding-top: var(--spacing-xlg);
    padding-bottom: var(--spacing-xlg);
    background-color: var(--c-grey);
    font-size: var(--font-size-sm);
    line-height: calc(var(--line-height) * 1.5);
}

.logo {
    padding-bottom: var(--spacing-md);
}

.description {
    margin-bottom: var(--spacing);
    
    @include breakpoint-up(md) {
        margin: 0;
        padding-right: var(--spacing-lg);
    }
}

.navigationList {
    margin: 0;
    padding: 0;
    column-count: 3;
}

.navigationItem {
    padding-bottom: var(--spacing-sm);
}

.navigationLink {
    color: var(--color-black);
    font-weight: 700;
    text-decoration: none;
}