@mixin section() {
  padding-top: calc(var(--spacing-xlg) * 2);
  padding-bottom: calc(var(--spacing-xlg) * 2);
}

@mixin text-content() {  
  p, h1, h2, h3, h4, h5, h6, h7 {
    line-height: var(--line-height);
  }

  p {
    font-size: var(--font-size-md);
  }

  > *:not(:last-child),
  > span > *:not(:last-child) { // CMS content is wrapped in a span
    margin-bottom: var(--spacing-lg);
  }
}

@mixin indent() {
  @include breakpoint-up(md) {
    padding-left: $indent !important;
  }
}

@mixin list($type) {
  list-style: $type;
  margin-left: var(--spacing-lg);

  li {
    line-height: var(--line-height);
    
    &:not(:last-child) {
      padding-bottom: var(--spacing-sm);
    }
  }
}
