@import '../../../components/Styles/responsive.scss';

.banner {
    display: flex;
    align-items: center;
    height: 380px;
    background-image: url(../../../assets/find-projects.jpg);
    background-size: cover;
    background-position: center;
}

.filter {
    color: white;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-regular);
    margin: 0;

    @include breakpoint-down(md) {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: var(--font-size-md);
    }

    @include breakpoint-down(sm) {
        span {
            display: none;
        }
    }
}

.selectWrapper {
    position: relative;
    display: inline-block;

    select {
        appearance: none;
        user-select: none;
        margin-left: var(--spacing);
        margin-right: var(--spacing);
        color: white;
        border: 3px solid white;
        padding: var(--spacing-sm) var(--spacing-lg);
        border-radius: 35px;
        background: transparent;
        padding-right: calc(var(--spacing-lg) * 2);
        cursor: pointer;
        transition: background-color var(--transition-duration);

        &:hover,
        &:focus {
            background-color: rgba(white, 0.1);
        }

        option {
            color: black;
        }
    }

    svg {
        position: absolute;
        right: calc(var(--spacing-lg) * 1.5);
        top: 50%;
        transform: translate3d(0, -50%, 0);
        pointer-events: none;
    }

    @include breakpoint-down(lg) {
        padding-top: var(--spacing);
        padding-bottom: var(--spacing);
    }
}