@model CollAction.Services.User.Models.ExternalUserResult
<p>
    Hi!
</p>
<p>
    By logging in through @Model.Info.LoginProvider you've linked your account to this login method. If you think this is in error, please e-mail <a href="mailto:hello@collaction.org">hello@collaction.org</a>.
</p>
<p>
    Warm regards,<br>
    The CollAction Team
</p>