Hi!<br>
<br>
Thanks for submitting a crowdaction on www.collaction.org!<br>
The CollAction Team will review your crowdaction as soon as possible - if it meets all the criteria we'll publish the crowdaction on the website and will let you know, so you can start promoting it! If we have any additional questions or comments, we'll reach out to you by email.<br>
Also, did you know we have a <a href="https://docs.google.com/document/d/1JK058S_tZXntn3GzFYgiH3LWV5e9qQ0vXmEyV-89Tmw">Crowdaction Starter Handbook</a> with tips and tricks on how to start, run, and finish a crowdaction on CollAction?
<br>
<br>
Thanks so much for driving the CollAction / crowdacting movement!<br>
<br>
Warm regards,<br>
The CollAction Team