Hi!<br>
<br>
The deadline of the crowdaction you have started on www.collaction.org has passed. We're very happy to see that the target you have set has been reached! Congratulations! Now it's time to act collectively!<br>
<br>
The CollAction Team might reach out to you with more specifics (this is an automated message). If you have any further questions yourself, feel free to contact the CollAction Team at hello@collaction.org. And don’t forget to tag CollAction in your messages on social media so we can help you spread the word on your achievement (FB: <a href="https://www.facebook.com/collaction.org/">@@collaction.org</a>, Twitter: @@collaction_org)!<br>
<br>
Thanks again for driving the CollAction / crowdacting movement!<br>
<br>
Warm regards,<br>
The CollAction Team<br>