@model bool
<p>
Hi!,
</p>
<p>
Thank you so much for your kind donation to CollAction!
</p>
<p>
As an independent non-profit organization we depend on the support of people like you to keep doing what we’re doing: working towards our goal of moving millions of peopled to act for good, through crowdacting.
</p>
<p>
Thanks again for your generosity and trust!
</p>
<p>
On behalf of the CollAction team,
</p>
<p>
Ron
</p>

@if (Model)
{
    <p>PS. If you've setup a recurring donation then you can cancel your recurring donations on your <a href="https://collaction.org/Manage">account page</a> or by e-mailing <a href="mailto:collactionteam@gmail.com">collactionteam@gmail.com</a>. Cancellations sent through e-mail will be processed within five days, cancellations through your account page will be processed immediately.</p>
}