Hi!<br>
<br>
The CollAction Team has reviewed your project proposal and is very happy to share that your project has been approved and now live on www.collaction.org!<br>
<br>
So feel very welcome to start promoting it! If you have any further questions, feel free to contact the CollAction Team at <a href="mailto:collactionteam@gmail.com">collactionteam@gmail.com</a>. And don’t forget to tag CollAction in your messages on social media so we can help you spread the word (FB: <a href="https://www.facebook.com/collaction.org/">@@collaction.org</a>, Twitter: @@collaction_org)!<br>
<br>
Thanks again for driving the CollAction / crowdacting movement!<br>
<br>
Warm regards,<br>
The CollAction Team<br>