Hi!<br>
<br>
The deadline of the project you have started on www.collaction.org has passed. Unfortunately the target that you have set has not been reached. Great effort though!<br>
<br>
The CollAction Team might reach out to you with more specifics (this is an automated message). If you have any further questions yourself, feel free to contact the CollAction Team at <a href="mailto:collactionteam@gmail.com">collactionteam@gmail.com</a>.<br>
<br>
Thanks again for driving the CollAction / crowdacting movement and better luck next time!<br>
<br>
Warm regards,<br>
The CollAction Team<br>