@model string
<p>
  Hi!
<p>
<p>
  You tried to register a new account on <a href="https://collaction.org">collaction.org</a>, but it looks like you already have one!
</p>
<p>
  <a href="@Model">Click here</a> to set a new password for it. Or, if you remember your password, you can simply <a href="https://collaction.org/Account/Login">log in</a>.
</p>
<p>
Warm regards,<br>
The CollAction Team
</p>
