@model string
Hi!<br>
<br>
Someone has requested an e-mail to reset your password on <a href="https://collaction.org">CollAction</a>. If you haven't requested a way to reset your password, you can ignore this e-mail.<br>
<br>
Please reset your password by clicking here: <a href="@Model">link</a>.<br>
Warm regards,<br>
The CollAction team