@model Uri
<p>
  Hi!
<p>
<p>
  You requested a password reset on <a href="https://collaction.org">collaction.org</a>.
</p>
<p>
  <a href="@Model">Click here</a> to specify a new password for your account.
</p>
<p>
Warm regards,<br>
The CollAction Team
</p>
<p>
PS. If you did not request a password reset, you can ignore this mail. However, it might be a good idea to <a href="https://howsecureismypassword.net/">check your password's strength</a>!
</p>