@model string
Hi!<br>
<br>
You have requested an way to reset your password on <a href="https://collaction.org">collaction.org</a>.<br>
<br>
Please reset your password by clicking here: <a href="@Model">link</a>.<br>
Warm regards,<br>
The CollAction Team<br>
<br>
PS. If you've haven't requested this e-mail, you can ignore it.