@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model FindProjectViewModel

@{
    ViewData["Title"] = Localizer["Find"];
    var defaultDisplayModel = FindProjectViewModel.DefaultDisplayProjectViewModel;
}

<div id="project-controller"></div>