@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Start Project"];
}

<h2>Start Project</h2>
<p>
    Do you want to solve a social, societal, cultural and/or ecological
    problem? Do you want to lead the crowdacting movement? In
    that case, you should start a project! However, there are some
    criteria which your project has to meet – you can find these with
    the frequently asked questions @Html.ActionLink("on this page", "About", "Home").
</p>
<br />
<h3>The steps</h3>

<p> project consists of the next 6 steps:</p>
<ol>
    <li>
        <b>Registering</b>: Complete the below registration form in full.
    </li>
    <li>
        <b>Assessment</b>: CollAction judges if your project meets the
        criteria @Html.ActionLink("on this page", "About", "Home"). If necessary, CollAction contacts you to
        discuss/clarify it.
    </li>
    <li>
        <b>Placement</b>: On approval, the project will be placed on
        collaction.org.
    </li>
    <li>
        <b>Campaign</b>: You are going to campaign to reach your target.
    </li>
    <li>
        <b>Action</b>: When the target has been reached, all supporters will
        take action.
    </li>
    <li>
        <b>Measuring of the impact</b>: After the action period, you
        measure how many people did act in the end and you share this
        with the CollAction team.
    </li>
</ol>
<br />
<h3>Registering a Project</h3>
<p>
    Great that you would like to start a project! Step 1 is to fill in the
    registration form. Below you can find the details that you need to
    register your project. Your entry will be tested by CollAction.org
    based on the criteria mentioned. On approval, your project will
    appear on the site and people can start registering for it!
</p>
<ul>
    <li>
        NAME PROJECT
    </li>
    <li>
        SHORT DESCRIPTION
    </li>
    <li>
        GOAL
    </li>
    <li>
        TARGET &amp; DEADLINE
    </li>
    <li>
        (OPTIONAL) VIDEO/IMAGE
    </li>
    <li>
        ADDITIONAL REMARKS
    </li>
</ul>
<p>
    Fill in the form as clearly as possible: this is information that will
    eventually end up on collaction.org!
</p>
<br />
<div class="text-center">
    @Html.ActionLink("GO TO THE REGISTRATION FORM", "StartForm", "Projects", null, new { @class = "btn btn-success" })
</div>
