@model CollAction.Models.ProjectParticipant
@{
    if (Model.SubscribedToProjectEmails)
    {
        ViewData["Title"] = $"Schrijf je uit van e-mails van project '{@Model.Project.Name}'";
    }
    else
    {
        ViewData["Title"] = $"Schrijf je in voor e-mails van project '{@Model.Project.Name}'";
    }
}

<div id="change-subscription">
    <div class="container">
        <h2>@ViewData["Title"]</h2>
        <form asp-controller="Projects" asp-action="ChangeSubscriptionFromAccountPerform" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" name="id" value="@Model.ProjectId" />

            <div class="form-group">
                @if (Model.SubscribedToProjectEmails)
                {
                    <input type="submit" value="Schrijf je in" class="btn btn-default" />
                }
                else
                {
                    <input type="submit" value="Schrijf je uit" class="btn btn-default" />
                }
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}