@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model CollAction.Models.CommitProjectViewModel

@{
    ViewData["Title"] = Localizer["Participate"];
}

<div id="project-commit-form">
    <div class="container">
        @{
            if (Model.IsUserCommitted)
            {
                // You're already participating!
                <h1>Je doet al mee!</h1>
            }
            else if (!Model.IsActive)
            {
                // This project is not open at this time.
                <h1>Dit project is momenteel niet open.</h1>
            }
            else
            {
                @using (Html.BeginForm("Commit", "Projects", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.ProjectId)
                    @Html.HiddenFor(m => m.ProjectName)

                    <div class="row">
                        <div class="col-xs-12 col-md-8 col-md-offset-2">
                            @*Click "I participate" to join the project!*@
                            <h1>Klik "Ik doe mee" om je in te schrijven voor het project!</h1>

                            <p>@Html.DisplayFor(model => model.ProjectProposal)</p>

                            @*I participate*@
                            <input type="submit" value="Ik doe mee" class="btn btn-default participate-btn" />
                        </div>
                    </div>
                }
            }
        }

    </div>
</div>
