@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model CreateProjectViewModel

@{
    ViewData["Title"] = Localizer["Create"];
}

<div id="project-create-form">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-12">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger" />
                        @Html.ValidationMessage("Name")
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Proposal" class="control-label"></label>
                        <input asp-for="Proposal" class="form-control" />
                        <span asp-validation-for="Proposal" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Goal" class="control-label"></label>
                        <input asp-for="Goal" class="form-control" />
                        <span asp-validation-for="Goal" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label"></label>
                        @Html.DropDownList("CategoryId", Model.Categories)
                        <span asp-validation-for="CategoryId" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Target" class="control-label"></label>
                        <input asp-for="Target" class="form-control" />
                        <span asp-validation-for="Target" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Start" class="control-label"></label>
                        <input asp-for="Start" class="form-control" />
                        <span asp-validation-for="Start" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="End" class="control-label"></label>
                        <input asp-for="End" class="form-control" />
                        <span asp-validation-for="End" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CreatorComments" class="control-label"></label>
                        <input asp-for="CreatorComments" class="form-control" />
                        <span asp-validation-for="CreatorComments" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="BannerImageUpload" class="control-label"></label>
                        <input asp-for="BannerImageUpload" class="form-control" />
                        <span asp-validation-for="BannerImageUpload" class="text-danger" />
                        @Html.ValidationMessage("BannerImageUpload")
                    </div>
                    <div class="form-group">
                        <label asp-for="DescriptionVideoLink" class="control-label"></label>
                        <input asp-for="DescriptionVideoLink" class="form-control" />
                        <span asp-validation-for="DescriptionVideoLink" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Hashtag" class="control-label"></label>
                        <input asp-for="Hashtag" class="form-control" />
                        <span asp-validation-for="Hashtag" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
 }