@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model FindProjectViewModel

@{
    Layout = "_EmbeddedLayout";
    ViewData["Title"] = Localizer["Projecten"];
    var defaultDisplayModel = FindProjectViewModel.DefaultDisplayProjectViewModel;
}

<div id="projects-container"></div>