@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Find"];
}

<div id="find-project">
    <div id="banner-title" class="banner">
        <div class="container">
            <div class="row" id="title-row">
                <div class="col-xs-12">
                    <h1>@Localizer["Alle projecten"]</h1> @* All projects *@
                </div>
            </div>
        </div>
    </div>

    <div id="join-a-project">
        <div class="container">
            <div class="row">
                <div id="projects-container">
                </div>
            </div>
        </div>
    </div>
</div>