@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Start Project"];
}

<div id="start-info">
    <div id="start-info-intro">
        <div class="container-fluid">
            <div class="row">
                <div id="background" class="banner"></div>
            </div>
        </div> 
        <div class="container">
            <div class="row" id="starting-card-container">
                <div class="col-md-5 col-md-push-7 col-sm-6 col-sm-push-6 col-xs-12">
                    <div id="starting-card">
                        <h1>Starting a project</h1>
                        <h2>(is super easy)</h2>
                        <p>
                            Would you like to do something about social or 
                            environmental problems? Would you like to lead the
                            crowdacting movement? Start a project on CollAction&nbsp;now! 
                            Also, check our <a href="https://docs.google.com/document/d/1JK058S_tZXntn3GzFYgiH3LWV5e9qQ0vXmEyV-89Tmw" target="_blank">handbook for project starters.</a>
                        </p>
                        <h3>It's really easy - we'll guide you through&nbsp;it.</h3>
                        @Html.ActionLink("Start a project", "Create", "Projects", null, new { @class = "btn" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="how-it-works">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-offset-1 col-md-10">
                    <div class="row">
                        <div class="row">
                            <div class="col-xs-12">
                                <h1>How it works</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="step col-xs-12 col-md-4">
                                <img class="icon" src="/images/startproject/project-idea.png" />
                                <h2>Create your project</h2>
                                <p>
                                    Complete the start project form. The CollAction team will review
                                    it as soon as possible
                                </p>
                            </div>
                            <div class="step col-xs-12 col-md-4">
                                <img class="icon" src="/images/startproject/share-project.png" />
                                <h2>Share your project</h2>
                                <p>
                                    Run a campaign to reach your target (once your project is approved)
                                </p>
                            </div>
                            <div class="step col-xs-12 col-md-4">
                                <img class="icon" src="/images/startproject/make-waves.png" />
                                <h2>Make waves</h2>
                                <p>
                                    Act together if the target is met before the deadline. And share your
                                    success and impact!
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-xs-12 col-md-4">
                                @Html.ActionLink("Start a project", "Create", "Projects", null, new { @class = "btn" })
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="faq">
        <div class="row">
            <div class="col-xs-12 col-md-offset-1 col-md-10">
                <h1>Frequently Asked Questions</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-offset-1 col-md-10">
                <div id="faq-who-can-start"></div>
                <div id="faq-reasonable-target"></div>
                <div id="faq-criteria"></div>
                <div id="faq-tips-and-tricks"></div>
            </div>
        </div>
    </div>
    <div class="container" id="kickstart">
        <div class="row">
            <div class="col-xs-12 col-md-offset-1 col-md-10">
                <div id="kickstart-card">
                    <div class="row">
                        <div class="col-xs-10">
                            <h2>Kickstart your project idea on CollAction</h2>
                        </div>
                        <div class="col-xs-2">
                            <h2><object class="logo pull-right" type="image/svg+xml" data="/images/step3.svg"></object></h2>
                        </div>
                        <div class="col-xs-12 visible-xs">
                            <p>
                                Want to discuss your project idea with the CollAction team?
                            </p>
                            <a class="btn" href="mailto:collactionteam@gmail.com">Email us</a>
                        </div>
                        <div class="col-xs-12 hidden-xs">
                            <p>
                                Want to discuss your project idea with the CollAction team? Send us an email at <a href="mailto:collactionteam@gmail.com">collactionteam@gmail.com</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>