@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Start Project"];
}


<div id="project-create-nice">
    <div class="container">
        <div class="row">
            <div class="col-md-3 hidden-xs">
                <a href="/Projects/Create">
                    <div id="nice-circle">
                        Moai!
                    </div>
                </a>
            </div>
            <div class="col-md-9 col-xs-12">
                <h1>Een project beginnen</h1>
                <p>
                    Wil jij een Friesland en de wereld socialer en duurzamer maken? Wil jij de crowdacting beweging leiden? 
                    Start hier dan een project! Er zijn wel een aantal voorwaarden waar jouw project aan moet voldoen – 
                    die vind je bij de <a href="/about#faq-criteria">veelgestelde vragen op deze pagina</a>. 
                    Wij wachten wel even terwijl je leest…
                </p>
                <p>
                    …Helemaal goed? <a href="/Projects/Create">Start je project dan hier</a>!
                </p>
            </div>
        </div>
    </div>
</div>

<div id="project-create-starting">
    <div class="container">
        <div class="hidden-xs">
            <div id="project-create-landscape-carousel"></div>
        </div>
        <div class="hidden-md hidden-sm hidden-lg">
            <div id="project-create-mobile-carousel"></div>
        </div>
    </div>
</div>

<div id="project-registration-button">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @Html.ActionLink("START PROJECT!", "Create", "Projects", null, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
</div>