@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Start Project"];
}


<div id="project-create-nice">
    <div class="container">
        <div class="row">
            <div class="col-md-3 hidden-xs">
                <div id="nice-circle">
                    Nice!
                </div>
            </div>
            <div class="col-md-9 col-xs-12">
                <h1>Start Project</h1>
                <p>
                    Would you like to do something about a social or environmental problem? Would you like to lead the crowdacting movement? Start a project on CollAction! 
                    
                    There are a few criteria that your project needs to meet – so please check those here first. We’ll wait while you read it… [link (new tab) to FAQs at the level of “What are the criteria that a project has to meet?”]

                    …All good? Then click here to start your project! [link to Start Project form page (through log in/registration)  
                </p>
            </div>
        </div>
    </div>
</div>

<div id="project-create-starting">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Starting a Project</h1>
                <h4>(It's Super Easy)</h4>
            </div>
        </div>
        <div class="row">
            <div id="project-create-landscape-carousel"></div>
        </div>
    </div>
</div>

<div class="text-center">
    @Html.ActionLink("GO TO THE REGISTRATION FORM", "Create", "Projects", null, new { @class = "btn btn-success" })
</div>
