@model CollAction.Models.ProjectViewModels.ThankYouCreateProjectViewModel

@{
    ViewData["Title"] = "Thank You";
}

<h1>Awesome!</h1>
<h2>Thank you for submitting @Model.Name!</h2>

The CollAction Team will review your project as soon as possible. If it meets all the CollAction criteria we’ll publish the project on the website and will let you know, so you can start promoting it! If we have any additional questions or comments, we’ll reach out to you by email. Thanks!
