@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http.Features

@inject IViewLocalizer Localizer

@model CollAction.Models.CommitProjectViewModel

@{
    ViewData["Title"] = Localizer["Thank You"];
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var canTrack = consentFeature.CanTrack;
}

<div id="thank-you-commit">
    <div class="container-fluid">
        <div id="thank-you" class="row">
            <div class="col-xs-12 col-sm-offset-4 col-sm-8">
                <h1>Thank you for joining this project!</h1>
            </div>
        </div>
        <div id="share-it" class="row">
            <div class="hidden-xs col-sm-4">
                <div id="project-preview" data-project-id="1"></div>
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Now go make waves and share it! :)</h2>
                    </div>
                    <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-4 col-md-3">
                        <div id="project-details-share-buttons-custom" data-title="@Html.DisplayFor(model => model.ProjectName)" data-link="@Context.Request.Scheme://@Context.Request.Host@Html.DisplayFor(model => model.ProjectLink)"></div>
                    </div>
                    <div class="hidden-xs">
                        <img class="arrow" src="/images/thankyoucommit/arrow.png" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@if (canTrack)
{
    <!-- <div id="project-share">
        <div class="container">
            <div class="row">
                <div id="project-details-share-buttons-custom" data-title="@Html.DisplayFor(model => model.ProjectName)" data-link="@Context.Request.Scheme://@Context.Request.Host@Html.DisplayFor(model => model.ProjectLink)"></div>
            </div> 
        </div> 
    </div> -->
}