@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model CollAction.Models.CommitProjectViewModel

@{
    ViewData["Title"] = Localizer["Thank You"];
}

<div id="thank-you-commit-container">
    <div class="row">
        <div id="thank-you-commit-box" class="col-xs-12 col-md-6 col-md-offset-3">
            <div id="close-button-container">
                <a id="close-button" asp-action="Details" asp-route-id="@Model.ProjectId">
                    <object id="close-button-img" type="image/svg+xml" data="/images/close-button.svg">
                        Close
                    </object>
                </a>
            </div>
            <div id="thank-you-text">
                <h1>Awesome!</h1>
                <h2>Thank you for participating</h2>
                <p>Many thanks in making this world a better place, by supporting <b>@Model.ProjectName</b>!</p>
            </div>
        </div>
    </div>
</div>

