@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model CollAction.Models.CommitProjectViewModel

@{
    // Thank You!
    ViewData["Title"] = "Dankjewel!";
}

<div id="thank-you-commit-container">
    <div class="row">
        <div id="thank-you-commit-box" class="col-xs-12 col-md-6 col-md-offset-3">
            <div id="close-button-container">
                <a id="close-button" asp-action="Details" asp-route-id="@Model.ProjectName">
                    <object id="close-button-img" type="image/svg+xml" data="/images/close-button.svg">
                        Close
                    </object>
                </a>
            </div>
            <div id="thank-you-text">
                <h1>Wat goed!</h1> @*Wat goed!*@
                <h2>Dank voor je deelname aan dit project!</h2> @*Thank you for participating*@

                @*In crowdacting, we only act collectively when we meet the target before the deadline, so please feel very welcome to share this project through the sharing buttons below!*@
                <p>Bij crowdacting komen we alleen collectief in actie als het target wordt gehaald voor de deadline, dus deel dit project vooral met je netwerk met de buttons hieronder!</p>

                @*We’ll keep you updated on the project. Also feel free to Like us on <a href="https://www.facebook.com/freonen/">Facebook</a> to stay up to date on everything CollAction!*@
                <p>We houden je op de hoogte van het project. Like Freonen op <a href="https://www.facebook.com/freonen/">Facebook</a> als je het leuk vindt wat we doen – dan hoor je meer over deze en andere mooie projecten!</p>
            </div>
        </div>
    </div>
</div>

<div id="project-share">
    <div class="container">
        <div class="row">
            <div id="project-details-share-buttons"></div>
        </div> 
    </div> 
</div>

<script type="text/javascript">
    const title = "@Html.DisplayFor(model => model.ProjectName)";
    const link = window.location.hostname + "@Html.DisplayFor(model => model.ProjectLink)";
    const element = document.getElementById("project-details-share-buttons-custom");
    window.onload = function () {
        window.CollAction.renderShareWithTitleAndLink(title, link, element);
    };
</script>
