@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http.Features

@inject IViewLocalizer Localizer

@model CollAction.Models.CommitProjectViewModel

@{
    ViewData["Title"] = Localizer["Thank You"];
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var canTrack = consentFeature.CanTrack;
}

<div id="thank-you-commit">
    <div class="container-fluid">
        <div id="thank-you" class="row">
            <div class="col-xs-12 col-md-offset-5 col-md-7">
                <h1>Thank you for joining this project!</h1>
            </div>
        </div>
        <div id="share-it" class="row">
            <div class="hidden-xs hidden-sm col-md-offset-1 col-md-4">
                <div id="project-preview" data-project-id="1"></div>
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Now go make waves and share it! :)</h2>
                    </div>
                    @if (canTrack)
                    {
                        <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 col-lg-3">
                            <div id="project-details-share-buttons-custom" data-title="@Html.DisplayFor(model => model.ProjectName)" data-link="@Context.Request.Scheme://@Context.Request.Host@Html.DisplayFor(model => model.ProjectLink)"></div>
                        </div>
                        <div class="hidden-xs hidden-sm">
                            <img class="arrow" src="/images/thankyoucommit/arrow.png" />
                        </div>
                    }
                </div>
            </div>
        </div>
        <div id="mission" class="row">
            <div class="col-xs-12 col-md-offset-1 col-md-6">
                <h3>Our mission</h3>
                <h1>We help people <b>solve collective action problems</b> through crowacting.</h1>
            </div>
        </div>
        <div id="donate" class="row">
            <div class="col-xs-12 col-md-offset-1 col-md-5">
                <div class="donation-box">
                    <h2>Help us reaching our mission by donating!</h2>
                    <p>
                        By donating to CollAction you help us solve collactive action problems and to make the world a better place. Your donation helps us maintaining and growing the platform and ultimately multiply our impact.
                    </p>
                    <hr>                    
                    <form name="donation" class="select-amount">
                        <p>
                            If you'd like make a one-time donation, please select the amount and payment option.
                        </p>
                        <div class="row">
                            <div class="col-xs-3">
                                <input type="radio" id="3" name="amount" value="3">
                                <label for="3">&euro; 3</label>                        
                            </div>
                            <div class="col-xs-3">
                                <input type="radio" id="5"name="amount" value="5">
                                <label for="5">&euro; 5</label>                        
                            </div>
                            <div class="col-xs-3">
                                <input type="radio" id="10"name="amount" value="10">
                                <label for="10">&euro; 10</label>                        
                            </div>
                            <div class="col-xs-3">
                                <input type="radio" id="20"name="amount" value="20">
                                <label for="20">&euro; 20</label>                        
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <input type="radio" id="30" name="amount" value="30">
                                <label for="30">&euro; 30</label>                        
                            </div>
                            <div class="col-xs-3">
                                <input type="radio" id="50"name="amount" value="50">
                                <label for="50">&euro; 50</label>                        
                            </div>
                            <div class="col-xs-3">
                                <input type="radio" id="100"name="amount" value="100">
                                <label for="100">&euro; 100</label>
                            </div>
                        </div>
                        <div class="payment-options">
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn"><img src="/images/thankyoucommit/iDEAL-logo.png"><span>iDEAL</span></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn"><img src="/images/thankyoucommit/paypal-logo.png" alt="PayPal"></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn"><img src="/images/thankyoucommit/bank-card.png"><span>Debit / Creditcard</span></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn">Manual transfer</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
