@import '../components/Styles/layout';
@import '../components/Styles/typography';
@import '../components/Styles/responsive.scss';

$indent: calc(var(--spacing-xlg) * 8);

.video {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: -1; // Render below mobile menu
  }
}

.green {
  background-color: var(--c-green);
  color: white;
}

.grey {
  background-color: var(--c-grey);
}

.mission {
  @include section();
  @include text-content();
  @include indent();
}

.about {
  @include section();
  @include text-content();
  @include indent();
}

.team {
  @include section();
  @include text-content();
  @include indent();

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: calc(var(--spacing) * -1);
  }
}

$image-size: 7rem;
.teamMember {
  display: flex;
  flex-direction: column;
  text-align: center;

  padding: 0 var(--spacing-xlg) var(--spacing-xlg) 0;
  width: $image-size;

  img {
    width: 100%;
    height: $image-size;
    background-color: #666;
    border-radius: 50px;
    margin-bottom: var(--spacing)
  }
}

.join {
  @include section();
  @include text-content();
  @include indent();

  ul {
    list-style-type: inherit;
    margin-left: var(--spacing-xlg);
    
    li {
      margin-bottom: var(--spacing-lg);
      line-height: var(--line-height);
    }
  }
}

.partners {
  @include section();
  @include text-content();
  @include indent();

  ul {   
    li {
      line-height: var(--line-height);
    }
  }
}

.faq {
  @include section();
  @include text-content();
  @include indent();
}