@import '../components/Styles/layout';
@import '../components/Styles/typography';

.banner {
  > * > * {
    padding-top: calc(var(--spacing-xlg) * 3);
    padding-bottom: calc(var(--spacing-xlg) * 3);
  }
}

.dots {
  background: radial-gradient(rgba(255, 255, 255, 0.25) 3px, transparent 5px), rgba(147, 148, 148, 0);
  background-position: 0 0, 30px 30px;
  background-size: 60px 60px;
}

.introduction {
  @include section();
  @include text-paragraph();
  text-align: center;
  line-height: var(--spacing-xlg);
}

.findproject {
  @include section();
  @include text-paragraph();
  text-align: center;

  h1 {
    @include large-title();
  }
}

.crowdactingsteps {
  @include section();
  background-color: var(--c-grey);
}

.startproject {
  @include section();
  background-color: var(--c-grey-d10);
}

.calltoaction {
  @include section();
}

.spread {
  @include section();
  background-color: var(--c-grey);  
}

.spreadContainer {
  display: flex;
  justify-content: center;
}

.spreadBlock {
  background: white;
  text-align: center;
  padding: var(--spacing-xlg);
  border: 1px solid var(--c-grey-d10);
  border-radius: var(--border-radius);

  h2 {
    color: var(--c-green);
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    padding-top: var(--spacing-xlg);

    li {
      display: inline-block;
    }
  }
}
