@mixin button {
    display: inline-block;
    background-color: var(--c-green);
    padding: var(--spacing-sm) calc(var(--spacing-lg) * .7);
    border-radius: var(--spacing-lg);
    border: none;
    color: var(--c-white);
    font-size: var(--font-size);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform var(--transition-duration),
                background-color var(--transition-duration);

    &:hover,
    &:focus {
        transform: scale(1.05);
        cursor: pointer;
        background-color: var(--c-green-d10);
        text-decoration: none;
    }
}

.primary {
    @include button();
}

.secondary {
    @include button();
    color: var(--c-green);
    background-color: var(--c-white);

    &:hover,
    &:focus {
        background-color: var(--c-white);
    }
}

.tertiary {
    @include button();
    background-color: var(--c-grey-d20);

    &:hover,
    &:focus {
        background-color: var(--c-grey-d10);
    }
}

.ghost {
    @include button();
    color: var(--c-green);
    background: none;
    border: 2px solid var(--c-green);

    &:hover,
    &:focus {
        color: var(--c-green-d10);
        border-color: var(--c-green-d10);
        background: none;
    }
}

.ghostSecondary {
    @include button();
    background: none;
    border: 2px solid var(--c-white);

    &:hover,
    &:focus {
        background-color: rgba(white, .2);
    }
}

.icon {
    @include button();
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.2rem;
    height: 1.2rem;
    padding: var(--spacing-sm);
    border-radius: 50%;
}

.circle {
    @include button();
    background-color: var(--c-green);
    width: 9.3em;
    height: 9.3em;
    border-radius: 50%;
    margin: var(--spacing-sm);
    padding: 0;
}

.circleContainer {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;  
  }
  
  
.circleContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}
  