// For the image to have a width/height so that react-lazy-load-image-component can pick it up
.lazyImage {
  span {
    min-height: 1px;
    min-width: 1px;
  }
  img {
    min-height: 1px;
    min-width: 1px;
  }
}