
.header {
    h2 {
        color: #fff;
    }
    background-color: var(--c-green);
}

.section {
    h3 {
        color: var(--c-green);
    }
    .crowdactionGridItem {
        margin-top: -200px !important;
    }
}