.title {
  h2, p {
    margin-bottom: var(--spacing-md);
  }
}

.image {
  border-top-left-radius: var(--border-radius-sm);
  border-top-right-radius: var(--border-radius-sm);
  overflow: hidden;

  img {
      width: 100%;
      height: auto;
  }
}

.stats {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  text-align: center;
}

.percentage {
  display: flex;
  justify-content: center;
  padding-bottom: var(--spacing)
}

.count {
  padding-bottom: var(--spacing)
}

.remainingTime {
  color: var(--c-grey-d30);
  padding-bottom: var(--spacing);

  svg {
    padding-right: var(--spacing-xs);
  }
}

.join {
  padding-bottom: var(--spacing);
}

.deadline {
  font-size: var(--font-size-sm);
  color: var(--c-grey-d30);
}

.header {
  color: var(--c-green);
}

.video {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: -1; // Render below mobile menu
  }
}
