.container {
    position: relative;
}
.label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: var(--font-size-sm);
}

.ring {
    transform: rotate(-90deg);
}

.progressCircle {
    stroke: var(--c-green);
    stroke-linecap: round;
    fill: transparent;
    transition: stroke-dashoffset 0.35s;
}

.backgroundCircle {
    stroke: var(--c-grey-d10);
    fill: transparent;
}