@import "../../colors";
@import '../../mixins';

.ReactModal__Body--open {
    overflow-y: hidden;
}
  
#donation-mission {
    height: 450px;
    padding-top: 40px;
    
    background-image:
        linear-gradient(rgba(35, 216, 132, 0.25), rgba(35, 216, 132, 0.25)),
        url('/images/thankyoucommit/cheering-people.jpg');
    background-size: cover;
    background-position: center;

    h3 {
        color: $coll-action-green;
    }

    h1 {
        color: white;
    }
}

#donation-modal {
    width: 80vw;
    max-width: 26em;
    max-height: 100%;

    .error {
        color: $coll-action-green;
    }

    .buttons {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        margin-top: 20px;
        text-align: center;

        .btn {
            margin: 10px 0;
            @include coll-action-button;
        }
    }

    @media (max-width: 375px) {
        .buttons  .btn {
            width: 100%;
        }
    }

    @media (max-height: 320px) {
        // Crammin' a bit for small iPhones
        p {
            margin-bottom: 5px;
        }
        .buttons {
            margin-top: 0px;
        }
    }


    .bank-list {
        @media (min-width: 766px) {
            // Needed so the bank-dropdown will be visible inside the popup.
            margin-bottom: 120px;
        }
    }

    .alert {
        // Smaller font, so it's visible on mobile devices as well
        font-size: 0.8em;
    }

    .StripeElement {
        box-sizing: border-box;
        height: 40px;
        padding: 10px 12px;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
        border-color: #fa755a;
    }
}

#donation {
    margin-bottom: 40px;

    h1 {
        color: #8a8a8a;
    }

    #donation-cancelled-box {
        margin-top: -200px;
        padding: 20px 40px 20px 40px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 10px 10px 40px -9px rgba(0,0,0,0.55);

        h1 {
            color: $coll-action-green;
        }

        .donation-smiley {
            margin-left: auto;
            margin-right: auto;
            width: 161px;
            height: 23px;
            font-family: LucidaGrande;
            font-size: 46px;
            font-weight: bold;
            line-height: 0.5;
        }
    }

    #donation-thankyou-box {
        margin-top: -200px;
        padding: 20px 40px 20px 40px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 10px 10px 40px -9px rgba(0,0,0,0.55);

        h1 {
            color: $coll-action-green;
        }

        .donation-smiley {
            margin-left: auto;
            margin-right: auto;
            width: 161px;
            height: 23px;
            font-family: LucidaGrande;
            font-size: 46px;
            font-weight: bold;
            line-height: 0.5;
        }
    }

    #donation-box {
        margin-top: -200px;
        margin-bottom: 40px;
        padding: 20px 40px 20px 40px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 10px 10px 40px -9px rgba(0,0,0,0.55);

        h2 {
            color: $coll-action-green;
        }

        .user-details > * {
            margin: 10px 0;
        }

        .payment-selection-options {
            input[type=radio] {
                opacity: 0;
                position: absolute;
            }

            label {
                color: $coll-action-green;
                display: inline-block;
                cursor: pointer;
                padding: 10px 0px;
                border: solid 1px $coll-action-green;
                width: 100%;
                text-align: center;
                margin: 10px 0;
            }
    
            input[type=radio]:focus + label {
                border: 1px solid $coll-action-green;
            }
    
            input[type=radio]:checked + label {
                color: white;
                background: $coll-action-green;
            }
    
            input[type=text] {
                border: solid 1px $coll-action-green;
                display: inline-block;
                width: 100%;
                height: 44px;
                margin: 10px 0 10px 0;
                padding: 0 10px;
    
                &::placeholder {
                    color: #8a8a8a;
                }
            }
        }

        .error {
            color: $coll-action-green;
        }

        .payment-options {
            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #f2f2f2;
                border: solid 2px #dbdbdb;
                color: #4b4b4b;
                padding: 10px;
                cursor: pointer;
                width: 100%;
                margin: 10px 0 10px 0;

                img {
                    height: 30px;
                }

                img + div {
                    margin-left: 10px;
                }
            }
        }
    }

    #donation-faq {
        @media (min-width: 991px) {
            margin: 85px 60px 0 60px;
        }
    }
}