@import '../Styles/responsive.scss';

.callToAction {
  h1 {
    color: var(--c-green);
    font-size: var(--font-size-xlg);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: var(--spacing-xlg);

    @include breakpoint-down(sm) {
      font-size: var(--font-size-xl);
    }
  }
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;  

  a {
    margin-bottom: var(--spacing-xlg);
    text-align: center;
  }
}
