@import '../Styles/responsive';
@import '../Styles/typography';

.callToAction {
  h1 {
    @include large-title();
    color: var(--c-green);
    padding-bottom: var(--spacing-xlg);
    text-align: center;

    @include breakpoint-down(sm) {
      font-size: var(--font-size-xl);
    }
  }
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;  

  a {
    margin-bottom: var(--spacing-xlg);
    text-align: center;
  }
}
