@import '../Styles/responsive.scss';

.callToAction {
  h1 {
    color: var(--c-green);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-hg);
    padding-bottom: var(--spacing-xl);

    @include breakpoint-down(md) {
      font-size: var(--font-size-hg);
    }
  }
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;  

  a {
    margin-bottom: var(--spacing-xl);
    text-align: center;
  }
}

.intro {
  margin: var(--spacing-hg) auto;

  div {
    margin: var(--spacing-md) auto;
    text-align: center;
  }

  line-height: var(--spacing-xl);

  h2 {
    color: var(--c-green);
  }

  p {
    font-size: var(--font-size-md)
  }
}