@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>@ViewData["Title"].</h2>

<div>
    <h4>Administrative Actions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Manage projects:</dt>
        <dd>
            <a asp-action="ManageProjectsIndex" asp-controller="Admin">Manage Projects</a>
        </dd>
        <dt>Manage users:</dt>
        <dd>
            <a asp-action="ManageUsersIndex" asp-controller="Admin">Manage Users</a>
        </dd>
        <dt>Manage jobs:</dt>
        <dd>
            <a href="/hangfire">Manage Jobs</a>
        </dd>
    </dl>
</div>
