@import '../Styles/responsive.scss';

.navigation {
    display: flex;
    flex: 1;
    padding: 0;
    justify-content: space-between;
    width: 100%;

    @include breakpoint-down(md) {
        position: fixed;
        width: 100vw;
        top: var(--header-height);
        left: 0;
        flex-direction: column;
        background-color: var(--c-white);
        padding-bottom: var(--spacing-md);
        transform: scaleY(.9) translate3d(0, -2rem, 0);
        opacity: 0;
        transition: opacity 100ms,
                    transform 150ms;
    }

    .collapsed & {
        opacity: 1;
        transform: scaleY(1) translate3d(0, 0, 0);
    }
}

.navigationList {
    display: flex;
    align-items: center;

    @include breakpoint-down(md) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.navigationItem {
    display: inline-block;
    padding-left: var(--spacing-xlg);

    @include breakpoint-down(lg) {
        padding-left: var(--spacing-lg);
        padding-bottom: var(--spacing);
    }
}

.navigationLink {
    color: var(--c-black);
    text-decoration: none;
    font-weight: var(--font-weight-bold);

    svg {
        padding-right: var(--spacing);
    }

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    @include breakpoint-down(md) {
        color: var(--c-green);
    }
}

.navigationToggle {
    appearance: none;
    background: none;
    border: 0;
    font-size: var(--font-size-lg);
    color: var(--c-black);
    opacity: .8;
    cursor: pointer;
}

.donationLink {
    color: var(--c-green);
    text-decoration: none;
    
    svg {
        padding-right: var(--spacing-xs);
        transition: transform var(--transition-duration);
    }

    &:hover,
    &:focus {
        svg {
            transform: scale(1.1);
        }
    }
}