@import '../../../style/tools/mixins';
@import '../../../style/settings/colors';

#user-register-starting {
    padding: 50px 0px;

    h1 {
        text-align: center;
        color: var(--c-primary);
        text-transform: uppercase;
        font-size: 4em;
        letter-spacing: 10px;
        margin: 0px 0px 5px 0px;
    }

    h4 {
        color: gray;
        text-align: center;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 10px;
        margin: 0px;
    }

    @media (max-width: 991px) {
        h1 {
            font-size: 1.5em;
        }

        h4 {
            font-size: 1em;
            letter-spacing: normal;
        }
    }    
}

#user-register-form {
    background-color: var(--c-gray-light);
    padding: 50px 0px;

    .row {
        margin-bottom: 50px;
    }
}