@import '../../../style/tools/mixins';
@import '../../../style/settings/colors';

#reset-password-confirmation-starting {
  padding: 50px 0px;

  @media (max-width: 767px) {
    h1 {
      text-align: center;
      color: var(--c-primary);
      text-transform: uppercase;
      font-size: 1.5em;
      letter-spacing: 10px;
      margin: 0px 0px 5px 0px;
    }

    h4 {
      color: gray;
      text-align: center;
      font-size: .75em;
      text-transform: uppercase;
      letter-spacing: 10px;
      margin: 0px;
    }
  }

  @media (min-width: 768px) {
    h1 {
      text-align: center;
      color: var(--c-primary);
      text-transform: uppercase;
      font-size: 4em;
      letter-spacing: 10px;
      margin: 0px 0px 5px 0px;
    }

    h4 {
      color: gray;
      text-align: center;
      font-size: 2em;
      text-transform: uppercase;
      letter-spacing: 10px;
      margin: 0px;
    }
  }
}

#reset-password-confirmation-content {
    background-color: var(--c-gray-light);
    padding: 50px 0px;

    .row {
        margin-bottom: 50px;
    }
}