@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["About"];
}

<div id="about-page">

   <div class="container">
     <div class="row" id="intro">
        <nav class="hidden-xs col-md-2">
            <ul>
                <li><a href="#about-us">About Us</a></li>
                <li><a href="#about-collaction">About CollAction</a></li>
                <li><a href="#meet-the-team">Meet The Team</a></li>
                <li><a href="#jobs">Jobs</a></li>
                <li><a href="#partners">Partners</a></li>
                <li><a href="#faq">FAQ</a></li>
            </ul>
        </nav>
      </div>
    </div>

    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/u6tqZqoh8DY?theme=dark&amp;rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    </div>

    <div id="about-us">
        <div class="container" >
            <div class="row" id="intro">
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <h1>Our Mission</h1>
                </div>
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <h2>We help people solve collective action problems through crowdacting </h2>
                    <p>
                        Many things are going well in the world. But we’re also facing some large and urgent problems. We see that traditional solutions to these problems are just not enough. At the same time there are so many people that want to do something to create a better world. That’s why we came up with a new approach: crowdacting. With crowdacting we ask: “Would you take action if a [hundred/thousand/million] other people would do the same?”
                   </p>
                </div>
            </div>
        </div>
    </div>

    <div id="about-collaction">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <h1>About CollAction</h1>
                </div>
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <p>
                        Do you sometimes have the feeling that your actions are only a drop in the ocean? Well, not anymore, because we are introducing crowdacting: taking action knowing that you are one of many. We revamp the neighbourhood with a hundred people or switch to renewable energy with hundreds or thousands of people at the same time. 
                        Find out more about what crowdacting is in the video or the FAQs, take action collectively with one of the <a href="/find" target="_blank">existing projects</a>, or <a href="/start" target="_blank">start your own crowdacting project</a>.
                    </p>
                    <p>
                    <i>Power to the Crowd</i>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="meet-the-team">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <h1>Meet the team</h1>
                </div>
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <div id="meet-the-team-widget"> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="jobs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <h1>Join our team!</h1>
                </div>
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <p>
                        CollAction is always looking for fun people who want to make a difference by making CollAction the next big thing! Please note that these are all volunteer positions for now (all current team members are volunteers as well :) )
                    </p>
                    <p>
                    We’re looking for:
                    <ul>
                    <li>
                        <b>Communications guru</b>: As the communications guru you are responsible for developing and implementing our communications strategy and further build the growing CollAction community. For those who need a good excuse to spend all day on Facebook. <a href="mailto:collactionteam@gmail.com?Subject=Hi%20there" target="_blank">Email us</a> for more info!
                    </li>
                    <li>
                        <b>Project Starter</b>: Do you sometimes think ‘AAAH THE WORLD IS ON FIRE, I NEED TO DO SOMETHING BUT WHAT!?’. Well, maybe chill out first and have some herbal tea :). Then get your hands dirty and start a project <a href="/start" target="_blank">here</a>.
                    </li>
                            </p>    
                </div>
            </div>
        </div>
    </div>

    <div id="partners">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <h1>Partners</h1>
                </div>
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <p>
                        We couldn’t do what we’re doing without the support of our great partners, including the ones below. Please <a href="mailto:collactionteam@gmail.com?Subject=Partnering" target="_blank">send us an email</a> if you want to join this group of early adopters. 
                    </p>
                     <p>
                    <ul>
                    <li><b><u><a href="https://www.sidnfonds.nl/" target="_blank">SIDN Fonds</a></b></u></li>
                    <li><b><u><a href="http://essense.eu/" target="_blank">Essense</a></b></u></li>
                    <li><b><u><a href="http://socialcoder.org/Home/Index" target="_blank">Social Coder</a></b></u></li>
                    <li><b><u><a href="http://deceuvel.nl/en/" target="_blank">De Ceuvel</a></b></u></li>
                       
                    </ul>
                            </p>  
                </div>
            </div>
        </div>
    </div>

    <div id="faq">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <h1>Frequently Asked Questions</h1>
                </div>
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    @Html.Partial("FAQ")
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    var shiftWindowToCorrectForNavBarHeight = function ()
    {
        var navBarHeight = document.querySelector('.nav-row').offsetHeight;
        scrollBy(0, -navBarHeight);
    };

    window.addEventListener("hashchange", shiftWindowToCorrectForNavBarHeight);

    window.onload = function ()
    {
        if (window.location.hash)
        {
            shiftWindowToCorrectForNavBarHeight();
        }
    };
</script>