@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Over"];
}

<div id="about-page">

    <div class="container">
        <div class="row" id="intro">
            <nav class="hidden-xs col-md-2">
                <ul>
                    <li><a href="#about-us">About Us</a></li>
                    <li><a href="#about-collaction">About CollAction</a></li>
                    <li><a href="#meet-the-team">Meet The Team</a></li>
                    <li><a href="#jobs">Jobs</a></li>
                    <li><a href="#partners">Partners</a></li>
                    <li><a href="#faq">FAQ</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bb58LahN3Q8?theme=dark&amp;rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    </div>

    <a id="about-us-fragment" class="fragment"></a>
    <div id="about-us">
        <div class="container" >
            <div class="row" id="intro">
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <h1>Over Freonen</h1>
                </div>
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <h2>De Freonen</h2>
                    <p>
                        De Freonen (Fries voor "vrienden") zijn een grote groep bedrijven, studenten, overheden, scholen, dorpen 
                        en ander organisaties die samen werken aan een fossielvrij Friesland. Dit lijkt ambitieus, maar in Friesland 
                        zijn er al honderden duurzame initiatieven die zich hieraan verbonden voelen. 
                        Denk bijvoorbeeld aan alle duurzame voertuigen, elektrische boten, energieneutrale huizen, fossielvrije festivals, 
                        fossielvrije bedrijven, scholieren die aan de slag gaan met energie, de zonnebootrace en uiteraard 
                        alle energiecooperaties die energie opwekken in het eigen dorp.
                   </p>
                </div>
            </div>
        </div>
    </div>

    <a id="about-collaction-fragment" class="fragment"></a>
    <div id="about-collaction">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <h1>Over deze website en crowdacting</h1>
                </div>
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <p>
                        Op deze website verzamelen we deze initiatieven en roepen we zoveel mogelijk mensen op om mee te doen met acties 
                        voor een duurzamer Friesland. Dit doen we door middel van crowdacting - collectief in actie komen voor een 
                        betere wereld. 
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <h1>Doe je mee?</h1>
                </div>
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <p>
                        Meld je aan voor een van de <a href="/Find">bestaande projecten</a> of <a href="/Start">start je eigen project</a>.
                    </p>
                    <p>
                        Leeuwarden-Fryslân is in 2018 de Culturele Hoofdstad van Europa. Een mooie gelegenheid om de wereld 
                        te laten zien dat Friesland een voorloper is op het gebied van duurzaamheid!
                    </p> 
                    <p>
                        Check <a target="_blank" href="http://www.freonen.nl">www.freonen.nl</a> voor meer over de Freonen!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <a id="partners-fragment" class="fragment"></a>
    <div id="partners">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <h1>Partners</h1>
                </div>
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <p>
                        We couldn’t do what we’re doing without the support of our great partners, including the ones below. Please <a href="mailto:collactionteam@gmail.com?Subject=Partnering" target="_blank">send us an email</a> if you want to join this group of early adopters. 
                    </p>
                    <p>
                        <ul>
                            <li><b><u><a href="https://www.sidnfonds.nl/" target="_blank">SIDN Fonds</a></b></u></li>
                            <li><b><u><a href="http://essense.eu/" target="_blank">Essense</a></b></u></li>
                            <li><b><u><a href="http://socialcoder.org/Home/Index" target="_blank">Social Coder</a></b></u></li>
                            <li><b><u><a href="http://deceuvel.nl/en/" target="_blank">De Ceuvel</a></b></u></li>
                        </ul>
                    </p>  
                </div>
            </div>
        </div>
    </div>

    <a id="faq-fragment" class="fragment"></a>
    <div id="faq">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <h1>Frequently Asked Questions</h1>
                </div>
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    @Html.Partial("FAQ")
                </div>
            </div>
        </div>
    </div>

</div>