@{
    ViewData["Title"] = "Contact";
}

<div class="container">
    <div class="row" id="contact-page">
        <div class="col-xs-12">

            <h2>@ViewData["Title"]</h2>

            <address>
                Stichting CollAction<br />
                Amsterdam, the Netherlands<br />
                <a href="mailto:collactionteam@gmail.com">collactionteam@gmail.com</a>
            </address>
        </div>
    </div>
</div>
