@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div id="festival-page">

    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Zvugem-tKyI?theme=dark&amp;rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    </div>

    <a id="intro-fragment" class="fragment"></a>
    <div id="intro">
        <div class="container" >
            <div class="row">
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <h1>The Make The World Great Again Crowdacting Festival</h1>
                </div>
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <p>
                        CollAction and De Ceuvel are organizing the second edition of the "Make The World Great Again" Crowdacting Festival in Amsterdam on 26 May 2018! We will mix impact with pleasure and bring CollAction to the offline world for the day! In summary:
                    </p>
                    <ul>
                        <li>Event: The "Make The World Great Again" Crowdacting Festival</li>
                        <li>Date: 26 May 2018</li>
                        <li>Location: De Ceuvel, Amsterdam, the Netherlands</li>
                        <li>Tickets: from €13.25 (cheaper group tickets available!) - to be ordered at <a target="_blank" href="https://events.ticketsforgood.co.uk/events/725-make-the-world-great-again-festival-2018">Tickets For Good</a></li>
                        <li>Press: For press enquiries, please contact <a href="mailto:spencerheijnen@gmail.com">spencerheijnen@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <a id="program-fragment" class="fragment"></a>
    <div id="program">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <h1>The program</h1>
                </div>
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    Click or tap to see the program full-screen, or <a href="/images/festival/MTWGA-Programma-2018.pdf" target="_blank">download the full program as PDF</a> (7mb).
                </div>
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <a href="/images/festival/festival_program.png" target="_blank">
                        <img src="/images/festival/festival_program.png" alt="Make The World Great Again Crowdacting Festival">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <a id="about-festival-fragment" class="fragment"></a>
    <div id="about-festival">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <h1>About the festival</h1>
                </div>
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <p>
                        On the 26th of May CollAction & de Ceuvel organise the second edition of the Make The World Great Again Festival! Last year the festival was sold out within two weeks. With more than a thousand people we participated in many actions for positive change. This year Make The World Great Again will be even greater: more crowdacts, more music, more speakers, and more collective impact!
                    </p>
                    <h3>Positive action through crowdacting</h3>
                    <p>
                        At the festival we turn our good intentions into positive action with the help of crowdacts: switch to a new bank or energy supplier, learn to give your garbage a new life, apply for volunteer work, find an impactful career, join or start a neighborhood initiative for shared solar panels, or dress yourself in the newest sustainable fashion. Also, we invite you to start your own crowdact!
                    </p>
                    <h3>The Transformation tunnel</h3>
                    <p>
                        We will transform the jetty of de Ceuvel to a ‘transformation tunnel’ for the day. In the different boats on the jetty we will seduce you to join in on positive actions. When you leave the jetty, you’ve committed to a whole range of crowdacts and your transformation will be complete Next to the activities on the boats, loads of amazing bands and DJ's will contribute to the good vibes.
                    </p>
                    <h3>Sessions & workshops</h3>
                    <p>
                        The exact program is still a secret, but will follow shortly. What we can already share is that the workshops are arranged in different themes from everyday life, like food, energy, communities, and career. They will be given by partners, inspirational speakers, enterprises, and NGO’s with a social and/or environmental mission. Next to that you can join in on activities like the garbage-raid, dance to the tunes of the bands and DJ's, or just have a drink in the sunshine (fingers crossed - but otherwise we'll just move the party inside)!
                    </p>
                    <ul>
                        <li>Date: Saturday 26 May 2018</li>
                        <li>Location: De Ceuvel</li>
                        <li>Tickets: from €13.25 (cheaper group tickets available!) - to be ordered at <a target="_blank" href="https://events.ticketsforgood.co.uk/events/725-make-the-world-great-again-festival-2018">Tickets For Good</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <a id="partners-fragment" class="fragment"></a>
    <div id="partners">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <h1>The festival would not be possible without our amazing partners!</h1>
                </div>
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <img src="/images/festival/festival_partners.png" alt="Our partners: ASN Bank, Gulpener, Sungevity, Patagonia, Lemonaid ChariTea, Instock and Social Enterprise">
                </div>
            </div>
        </div>
    </div>
</div>