@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["FAQ"];
}

@section styles {
    <link rel="stylesheet" href="~/css/faq.css" />
}

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" href="#collapseCollAction">
            <h3 class="panel-title" >
                <span class="fa fa-question" aria-hidden="true"></span>&nbsp;
                Wat is CollAction?
                <span class="fa fa-angle-down pull-right"></span>
            </h3>
        </div>
        <div id="collapseCollAction" class="panel-collapse collapse">
            <div class="panel-body">
                Stichting CollAction helpt mensen om Collectieve Actie Problemen op te lossen 
                door middel van Crowdacting. We zijn een stichting, en hebben dus geen winstoogmerk.
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" href="#collapseCrowdActing">
            <h3 class="panel-title">
                <span class="fa fa-hand-o-up" aria-hidden="true"></span>&nbsp;
                Huh? Crowdacting? Wat is dat?
                <span class="fa fa-angle-down pull-right"></span>
            </h3>
        </div>
        <div id="collapseCrowdActing" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    De term Crowdacting, zoals die hier wordt gebruikt, is een term die is gelanceerd door Stichting CollAction. 
                    Het betekent zoveel als: “Conditioneel, collectief handelen ten bate van een maatschappelijk doel”. 
                    Simpeler gezegd stellen we met crowdacting de vraag: “onderneem je actie als je weet dat honderd/duizend/miljoen/miljard 
                    andere mensen ook mee zouden doen?” 
                </p>
                <p>
                    Een voorbeeld van een crowdacting project is: “als we 10.000 mensen vinden die toezeggen over te stappen op duurzame energie 
                    als 9.999 andere mensen dat ook doen, dan stappen we allemaal over”. Het werkt dus net als crowdfunding, maar mensen committeren 
                    zich aan acties, in plaats van aan geld.
                </p>
                <p>
                    In de praktijk volgt een crowdactingproject 3 stappen:
                    <ol>
                        <li>
                            Een ProjectStarter lanceert een project op collaction.org. Hij/zij stelt een bepaalde actie voor (bv overstappen op groene energie) met een bijbehorend target (minimum aantal deelnemers) en een deadline.
                        </li>
                        <li>
                            ProjectSupporters committeren zich aan de actie, op voorwaarde dat het target binnen de deadline wordt bereikt.
                        </li>
                        <li>
                            Wanneer het target inderdaad wordt bereikt, komt iedereen in actie.
                        </li>
                    </ol>                
                    Meer informatie over crowdacting vind je op <a href="http://www.crowdacting.org/" target="_blank">www.crowdacting.org</a>.
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" href="#collapseCrowdActingNew">
            <h3 class="panel-title">
                <span class="fa fa-lightbulb-o" aria-hidden="true"></span>&nbsp;
                Crowdacting – is dat nieuw?
                <span class="fa fa-angle-down pull-right"></span>
            </h3>
        </div>
        <div id="collapseCrowdActingNew" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    De term Crowdacting is nieuw en is in deze betekenis de wereld in geholpen door Stichting CollAction, 
                    maar het onderliggende concept bestaat al langer. Denk maar aan demonstraties, boycots, petitiewebsites. 
                    Ook crowdfunding is een vorm van crowdacting: hierbij handelt een groep mensen (door geld te geven) op 
                    voorwaarde dat een bepaald target (bv 100.000 euro) wordt bereikt.
                </p>
                <p>
                    Het nieuwe van crowdacting ligt ‘m in de combinatie van drie dingen: 1) De actie is conditioneel 
                    (hij gaat alleen door als het target gehaald wordt); 2) De actie heeft een sociaal of ecologisch doel; 
                    en 3) De actie gaat verder dan alleen je handtekening zetten. Deelnemers moeten zelf een handeling verrichten.
                </p>
                <p>
                    Meer informatie over hoe crowdacting overeenkomt en verschilt met andere initiatieven vind je op 
                    <a href="http://www.crowdacting.org/" target="_blank">www.crowdacting.org</a>.
                <p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" href="#collapseProblems">
            <h3 class="panel-title">
                <span class="fa fa-cloud" aria-hidden="true"></span>&nbsp;
                Wat zijn Collectieve Actie problemen?
                <span class="fa fa-angle-down pull-right"></span>
            </h3>
        </div>
        <div id="collapseProblems" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    Collectieve actie problemen zijn situaties waarbij het in het belang van de groep is om samen te werken, 
                    maar waar coördinatie een uitdaging blijkt. Hierdoor is ieder individu gemotiveerd om alleen in zijn eigen belang te handelen. 
                    <a href="https://www.youtube.com/watch?v=p3KlgxYhDbk" target="_blank">Dit filmpje</a> legt het goed uit (in het engels).                
                </p>
                <p>
                Een bekend voorbeeld van een collectieve actie probleem is <i>de tragedie van de meent</i>.
                </p>
                <p>
                De meent is een gemeenschappelijk stuk weidegrond waar koeien van verschillende boeren grazen. 
                Elke boer wil natuurlijk zo veel mogelijk verdienen tegen zo laag mogelijke kosten en heeft er dus een individueel belang bij 
                om zoveel mogelijk van zijn koeien van het gemeenschappelijke gras te laten eten. 
                Echter, ook alle andere boeren zullen zo denken en weldra is de meent vernietigd door overbegrazing. 
                Voor elke afzonderlijke boer heeft het weinig zin om hier in zijn eentje iets aan te doen – wetende (of vrezende) dat andere boeren 
                zich een zo groot mogelijk aandeel van het gemeenschappelijke gras zullen toe-eigenen, wordt de meent toch wel afgegraasd. 
                De boer kan dus maar beter wat koeien toevoegen, dan heeft hij er op korte termijn in ieder geval nog profijt van. 
                Op lange termijn verliezen echter alle boeren, en dus de gemeenschap, omdat het stuk land kan worden afgeschreven wanneer het volledig afgegraasd is.
                </p>
                <p>
                Voorbeelden van (ernstige en minder ernstige) collectieve actie problemen: de opwarming van de aarde, files, overbevolking, 
                erbarmelijke arbeidsomstandigheden, het schoonhouden van een studentenhuis, corruptie, overbevissing, etc.
                </p>
                <p>
                    Traditioneel zijn er twee oplossingen voor collectieve actie problemen:
                    <ol>
                        <li>
                            Privatisering: de meent kan worden verdeeld tussen de boeren. Nu hebben de boeren er baat bij om hun eigen stukje grond goed te verzorgen, 
                            zodat ze er op lange termijn iets aan hebben;
                        </li>
                        <li>
                            Regulering: er kunnen afspraken worden gemaakt en gehandhaafd over het gebruik van de meent. 
                            Er kan bijvoorbeeld een maximum aan het aantal koeien per boer worden gesteld. 
                        </li>
                    </ol>
                    Echter, deze oplossingen zijn niet op alle collectieve actie problemen van toepassing. Bijvoorbeeld, het is nog niet zo eenvoudig 
                    (of wenselijk) om bepaalde goederen te privatiseren (hoe privatiseer je de ozonlaag? Of migrerende vispopulaties?). Daarnaast blijkt 
                    regulering en handhaving van grensoverschrijdende problemen lastig (denk aan het moeizame proces om internationaal iets aan klimaatverandering te doen).
                </p>
                <p>
                    Dit vraagt om een nieuwe oplossing: crowdacting.
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" href="#collapseLearnMore">
            <h3 class="panel-title">
                <span class="fa fa-book" aria-hidden="true"></span>&nbsp;
                Waar kan ik meer leren over collectieve actie problemen?
                <span class="fa fa-angle-down pull-right"></span>
            </h3>
        </div>
        <div id="collapseLearnMore" class="panel-collapse collapse">
            <div class="panel-body">
                <a href="http://www.crowdacting.org/" target="_blank">www.crowdacting.org</a>.
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" href="#collapseStart">
            <h3 class="panel-title">
                <span class="fa fa-play-circle" aria-hidden="true"></span>&nbsp;
                Kan ik zelf een project beginnen?
                <span class="fa fa-angle-down pull-right"></span>
            </h3>
        </div>
        <div id="collapseStart" class="panel-collapse collapse">
            <div class="panel-body">
                Jazeker! Je kunt <a href="/Start" target="_blank">hier</a> een project aanmaken. Zorg wel dat je eerst even checkt of jouw idee aan de criteria voldoet.
            </div>
        </div>
    </div>

    <div id="faq-criteria" class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" href="#collapseCriteria">
            <h3 class="panel-title">
                <span class="fa fa-list" aria-hidden="true"></span>&nbsp;
                Wat zijn de criteria waar een project aan moet voldoen?
                <span class="fa fa-angle-down pull-right"></span>
            </h3>
        </div>
        <div id="collapseCriteria" class="panel-collapse collapse">
            <div class="panel-body">
                Een project kan alleen geplaatst worden als het aan de volgende criteria voldoet:
                <ul>
                    <li>
                        Het project heeft tot doel een positieve maatschappelijke en/of ecologische bijdrage te leveren aan je buurt, woonplaats, land of de wereld.
                    </li>
                    <li>
                        Het project is niet gericht op eigen gewin.
                    </li>
                    <li>
                        Het project betreft geen initiatieven die gericht zijn op bekering of activisme (religieus of politiek).
                    </li>
                    <li>
                        Het project betreft geen initiatieven die illegaal zijn en niet voldoen aan de wettelijke regelgeving van Nederland of het land van uitvoer.
                    </li>
                    <li>
                        Het online project aanmeldformulier wordt volledig en waarheidsgetrouw ingevuld met een heldere, duidelijke en goed leesbare projectomschrijving en doelstelling. 
                        Het CollAction team kan om verduidelijking vragen en/of je tekst redigeren indien nodig. 
                    </li>
                    <li>
                        De ProjectStarter heeft goed nagedacht over hoe mensen van commitment naar actie kunnen worden bewogen. Hierbij kunnen wij je helpen!
                    </li>
                    <li>
                        Het project is ambitieus maar realistisch – de CollAction toetsingscommissie beoordeelt of dit het geval is. De projectStart kan zijn/haar eigen netwerk activeren, 
                        en/of heeft een goed plan om je target te bereiken.
                    </li>
                    <li>
                        De ProjectStarter committeert zich om de impact van de actie te meten (aantal mensen die actie hebben ondernomen) en te rapporteren aan CollAction.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" href="#collapseHowLong">
            <h3 class="panel-title">
                <span class="fa fa-clock-o" aria-hidden="true"></span>&nbsp;
                Hoe lang duurt een actie?
                <span class="fa fa-angle-down pull-right"></span>
            </h3>
        </div>
        <div id="collapseHowLong" class="panel-collapse collapse">
            <div class="panel-body">
                Sommige acties zijn eenmalig – denk aan een overstap naar een eerlijke bank of groene energie. Andere projecten kunnen langer duren. Bijvoorbeeld minder vlees eten, 
                het periodiek bezoeken van eenzame ouderen, of het helpen van vluchtelingen met Nederlandse les. Met andere woorden, de duur van de actie scheelt per project.
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" href="#collapseNotReached">
            <h3 class="panel-title">
                <span class="fa fa-stop" aria-hidden="true"></span>&nbsp;
                Wat gebeurt er als een target niet wordt gehaald?
                <span class="fa fa-angle-down pull-right"></span>
            </h3>
        </div>
        <div id="collapseNotReached" class="panel-collapse collapse">
            <div class="panel-body">
                Dan hoeft in principe niemand in actie te komen. Crowdacting betekent: No cure, no action. Maar als je nou echt geïnspireerd bent om toch in actie te komen, 
                juichen wij dat natuurlijk toe.
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" href="#collapseHowKnow">
            <h3 class="panel-title">
                <span class="fa fa-rocket" aria-hidden="true"></span>&nbsp;
                Hoe weet ik dat mensen ook echt in actie komen?
                <span class="fa fa-angle-down pull-right"></span>
            </h3>
        </div>
        <div id="collapseHowKnow" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    Dat weet je niet altijd 100% zeker. Bij crowdacting gaat het in eerste instantie om vertrouwen. Vertrouwen dat mensen samen aan een betere wereld willen werken. 
                    Vertrouwen dat mensen gehecht zijn aan hun karmapunten. En vertrouwen dat mensen hun afspraken nakomen. We hopen een community te vormen van mensen die hun commitment 
                    serieus nemen en we proberen een cultuur te creëren waar afspraak=afspraak.
                </p>
                <p>
                    Dat gezegd hebbende, bouwen we wel bepaalde processen in om zoveel mogelijk toezeggingen om te zetten in actie! Wat die processen precies zijn, hangt af van het type project. 
                    Voor sommige projecten (zoals overstapprojecten, bv naar een eerlijke bank of groene energie) kan de overstap al conditioneel in gang worden gezet op het moment van commitment. 
                    Als het target dan wordt bereikt, worden supporters van het project automatisch overgeschreven. Bij lokale projecten zal sociale controle een grotere rol spelen. 
                    Weer andere projecten gaan puur op vertrouwen. We zullen uitgebreid gaan experimenteren met verschillende trucs, tools en benaderingen. We vragen starters van projecten 
                    goed na te denken over deze vraag – het team van CollAction staat klaar om hierover mee te denken!
                </p>
            </div>
        </div>
    </div>
</div>

