@{
    ViewData["Title"] = "FAQ";
}

<div id="faq-what-is-collaction" data-open="true"></div>
<div id="faq-what-is-crowdacting" data-open="true"></div>
<div id="faq-crowdacting-a-new-thing" data-open="true"></div>
<div id="faq-what-are-collactive-problems" data-open="true"></div>
<div id="faq-where-to-learn-more" data-open="true"></div>
<div id="faq-start-it-yourself" data-open="true"></div>
<div id="faq-criteria" data-open="true"></div>
<div id="faq-trips-and-tricks" data-open="true"></div>
<div id="faq-how-long-does-it-run" data-open="true"></div>
<div id="faq-target-not-reached" data-open="true"></div>
<div id="faq-how-do-you-know" data-open="true"></div>
<div id="faq-when-will-it-end" data-open="true"></div>
<div id="faq-about-the-organization" data-open="true"></div>
