@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["FAQ"];
}

<div id="faq-what-is-collaction"></div>
<div id="faq-what-is-crowdacting"></div>
<div id="faq-crowdacting-a-new-thing"></div>
<div id="faq-what-are-collactive-problems"></div>
<div id="faq-where-to-learn-more"></div>
<div id="faq-start-it-yourself"></div>
<div id="faq-criteria"></div>
<div id="faq-trips-and-tricks"></div>
<div id="faq-how-long-does-it-run"></div>
<div id="faq-target-not-reached"></div>
<div id="faq-how-do-you-know"></div>
<div id="faq-when-will-it-end"></div>
<div id="faq-about-the-organization"></div>
