<h2>Login</h2>

<form method="post" action="/account/login">
    <input type="text" name="Email" />
    <input type="password" name="Password" />
    <input type="checkbox" name="RememberMe" />
    <input type="submit" value="Submit" />
</form>

<h2>External logins</h2>
@using Microsoft.AspNetCore.Identity
@using CollAction.Models
@inject SignInManager<ApplicationUser> SignInManager
<form action="/account/externallogin" method="post">
    @foreach (var provider in await SignInManager.GetExternalAuthenticationSchemesAsync())
    {
        <button type="submit" name="provider" value="@provider.Name">
            Login with @provider.Name
        </button>
    }
</form>