@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Home Page"];
}

<div id="index">
    <div id="banner-title">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <h1>Title</h1>
                </div>
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <h2>Subtitle</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-5 col-md-offset-7">
                    <a href="/Projects/Find">Find Project</a>
                </div>
                <div class="col-xs-12 col-md-5 col-md-offset-7">
                    <a href="/Projects/Create">Start a Project</a>
                </div>
            </div>
        </div>
    </div>

    <div id="intro-text">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <h1>Title</h1>
                    <p>All About Croud Acting</p>
                </div>
            </div>
        </div>
    </div>

    <div id="three-steps">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-3 col-md-offset-2">
                    Croud acting in there steps
                </div>

                <div class="col-xs-12 col-md-3 col-md-offset-2">
                    <img href="/images/step1.jpg">
                    <h3>Title</h3>
                    <p>All About This Step</p>
                </div>

                <div class="col-xs-12 col-md-3">
                    <img href="/images/step1.jpg">
                    <h3>Title</h3>
                    <p>All About This Step</p>
                </div>

                <div class="col-xs-12 col-md-3">
                    <img href="/images/step1.jpg">
                    <h3>Title</h3>
                    <p>All About This Step</p>
                </div>

            </div>
        </div>
    </div>

    <div id="join-project">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-md-3 col-md-offset-2">
                    <h4>Join a Project</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-3 col-md-offset-2">
                    <div id="join-project-widget"></div>
                </div>
            </div>

        </div>
    </div>
</div>