@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Privacy Policy"];
}

<div id="privacy-policy">
    <div class="container">
        <h2>Privacy- en Cookiebeleid CollAction</h2>
        <p>
            We raden u aan ons privacy- en cookiebeleid (“<b>Beleid</b>”) zorgvuldig te lezen voordat u gebruik maakt van onze website, omdat het belangrijke informatie verschaft over hoe en waarom wij persoonsgegevens (“<b>Persoonsgegevens</b>”) over u verzamelen en verwerken wanneer u onze website gebruikt. Persoonsgegevens zijn gegevens die direct of indirect kunnen worden gebruikt om u te identificeren.
        </p>
        <p>
            Stichting CollAction (“<b>CollAction</b>”) is de verwerkingsverantwoordelijke van de verzamelde en verwerkte gegevens, zoals gedefinieerd in EU verordening 2016/679 (“<b>AVG</b>”). U kunt onze contactgegevens hieronder vinden.
        </p>
        Dit beleid is alleen van toepassing op onze website. Het is niet van toepassing op andere bedrijven of organisaties die bijvoorbeeld adverteren voor onze website, projecten of diensten, of voor andere (sociale) websites, netwerken en platformen waarmee u verbinding kunt maken via onze website. Wij zijn niet verantwoordelijk of aansprakelijk voor enige verwerking van uw persoonsgegevens via deze (sociale) websites, netwerken en platformen. We raden u ook aan om het privacy- en cookiebeleid van de desbetreffende websites, netwerken en platformen zorgvuldig te lezen voordat u hiervan gebruik maakt.
        </p>
        <h3>
            Waarom verzamelt en verwerkt CollAction mijn Persoonsgegevens? En welke Persoonsgegevens verzamelt en verwerkt CollAction?
        </h3>
        <p>
            Wij verzamelen en verwerken uw Persoonsgegevens om:
        </p>
        <ol>
            <li>op uw verzoek een CollAction-account voor u aan te maken;</li>
            <li>u aan te melden voor projecten of u in staat te stellen om op uw verzoek een eigen project te starten;</li>
            <li>in contact te blijven met u en u updates te geven over de voortgang van bepaalde projecten;</li>
            <li>projecten, activiteiten en andere diensten aan u te adverteren en te promoten, bijvoorbeeld door u nieuwsbrieven te sturen als u zich hebt aangemeld voor het ontvangen van onze nieuwsbrieven;</li>
            <li>te voldoen aan wettelijke verplichtingen; en</li>
            <li>onze website en diensten verder te ontwikkelen en verbeteren.</li>
        </ol>
        <p>
            Om bovenstaande te kunnen doen, verzamelen en verwerken wij Persoonsgegevens, zoals uw naam en e-mailadres. We kunnen ook uw IP adres verzamelen en informatie verzamelen over uw gebruik van onze website door middel van cookies (tekstbestanden die op uw computer worden geplaatst) en andere technologieën zoals Google Analytics en Google Tag Manager om onze website en de algehele kwaliteit van onze services verder te ontwikkelen en te verbeteren. Voor meer informatie over het gebruik van cookies en andere technologieën verwijzen wij u naar de onderstaande paragraaf over ‘Gebruik van cookies’.
        </p>
        <p>
            We houden ons niet bezig met geautomatiseerde besluitvorming, bijvoorbeeld profilering.
        </p>
        <p>
            De verwerking van uw Persoonsgegevens door ons is gebaseerd op een of meer van de volgende wettelijke gronden:
        </p>
        <ol>
            <li>u heeft toestemming gegeven voor de verwerking van uw Persoonsgegevens (artikel 6, lid 1, sub a AVG);</li>
            <li>de verwerking van uw Persoonsgegevens is noodzakelijk voor de uitvoering van een overeenkomst tussen u en ons of om op uw verzoek vóór de sluiting van de overeenkomst maatregelen te kunnen nemen (artikel 6 (1) sub b AVG). Indien deze Persoonsgegevens niet worden verwerkt, kunnen we de overeenkomst met u niet uitvoeren, ofwel u bepaalde services die u hebt aangevraagd niet bieden;</li>
            <li>de verwerking is noodzakelijk om te voldoen aan een wettelijke verplichting (artikel 6, lid 1 sub c AVG); en/of </li>
            <li>de verwerking is noodzakelijk voor de behartiging van onze gerechtvaardigde belangen, bijvoorbeeld voor het opsporen van fraude (artikel 6, lid 1 sub f AVG).</li>
        </ol>
        <h3>Hoe lang slaat CollAction mijn Persoonsgegevens op?</h3>
        <p>
            CollAction bewaart of slaat uw Persoonsgegevens niet langer op dan noodzakelijk is voor de doeleinden waarvoor de Persoonsgegevens werden verwerkt. Niettemin heeft u het recht om de manier waarop wij uw Persoonsgegevens gebruiken/verzamelen te allen tijde te wijzigen (zie hieronder ook hoe u zich hiervoor kunt afmelden), tenzij we verplicht zijn om deze Persoonsgegevens te bewaren op grond van de wet of om te voldoen aan onze wettelijke verplichtingen.
        </p>
        <h3>Deelt CollAction mijn Persoonsgegevens met derden?</h3>
        <p>
            CollAction is een non-profitorganisatie die zich inzet om de wereld te verbeteren met behulp van individuen zoals u. In overeenstemming met onze missie, zal CollAction uw Persoonsgegevens niet aan derden verkopen.
        </p>
        <p>
            Als non-profitorganisatie die gebruik maakt van open source, hebben we een team van vrijwilligers over de hele wereld die ons helpen om de best mogelijke service te bieden. Daarbij kunnen uw Persoonsgegevens worden uitgewisseld, overgedragen of anderszins beschikbaar worden gesteld aan deze vrijwilligers. Er zullen passende afspraken worden gemaakt met deze vrijwilligers om de bescherming van uw Persoonsgegevens te waarborgen.
        </p>
        <p>
            Aangezien onze vrijwilligers zich over de hele wereld bevinden, kunnen uw Persoonsgegevens ook worden doorgegeven aan en/of toegankelijk worden gemaakt voor landen buiten de Europese Economische Ruimte, in sommige gevallen aan landen die geen adequaat niveau van gegevensbescherming bieden volgens de Europese Commissie. In dat geval worden Persoonsgegevens alleen onder de volgende voorwaarden overgedragen:
        </p>
        <ol>
            <li>u heeft expliciet ingestemd met de voorgestelde overdracht;</li>
            <li>de overdracht is noodzakelijk voor de uitvoering van de overeenkomst, ofwel het verlenen van onze diensten; of</li>
            <li>de overdracht is noodzakelijk voor de uitvoering van een overeenkomst die in uw belang is aangegaan.</li>
        </ol>
        <p>
            We kunnen uw Persoonsgegevens ook vrijgeven wanneer wij van mening zijn dat een dergelijke vrijgave noodzakelijk is om te voldoen aan toepasselijke wetgeving, om het beleid van de website te handhaven en om de wettelijke rechten, eigendommen of veiligheid van CollAction of van derden te beschermen. Informatie die niet persoonlijk identificeerbaar is, kan ook publiekelijk worden gedeeld, bijvoorbeeld voor statistische doeleinden.
        </p>
        <p>
            CollAction maakt gebruik van de Cloud-serverdiensten van Amazon (Amazon Web Services). Daarom kunnen uw Persoonsgegevens worden overgedragen aan en opgeslagen op servers in de Verenigde Staten. Amazon Web Services is gecertificeerd volgens het EU-VS-privacyschild, een raamwerk dat bedrijven in de EU en de Verenigde Staten voorziet van een mechanisme om te voldoen aan de gegevensbeschermingsvereisten bij het overdragen van Persoonsgegevens van de EU naar de Verenigde Staten.
        </p>
        <h3>Gebruik van cookies</h3>
        <p>
            Cookies zijn kleine tekstbestanden die op uw apparaat worden geplaatst wanneer u een website bezoekt, en kunnen een breed scala aan functies hebben. CollAction gebruikt de volgende soorten cookies:
        </p>
        <h4>Strikt noodzakelijke/functionele cookies</h4>
        <p>
            Dit zijn cookies die noodzakelijk zijn voor de (basis)werking van onze website, bijvoorbeeld om u ingelogd te houden.
        </p>
        <h4>Analytics-cookies</h4>
        <p>
            CollAction maakt gebruik van externe analytische diensten die cookies gebruiken, zoals Google Analytics en Google Tag Manager. Deze worden gebruikt om relevante statistieken en andere informatie over het gebruik van onze website te verkrijgen om de prestaties van onze website en de levering van onze diensten te verbeteren. Deze diensten van derden kunnen cookies plaatsen, waaronder cookies voor advertentiedoeleinden.
        </p>
        <h4>Social media-knoppen</h4>
        <p>
            We hebben 'social media-knoppen' op onze website geplaatst waarmee u verbinding kunt maken met verschillende social media platforms, zoals Facebook en Twitter, om bijvoorbeeld een link te delen. Dit wordt mogelijk gemaakt door codes die worden geleverd door de relevante social media platforms. Deze codes plaatsen cookies. Wij zijn niet verantwoordelijk voor deze cookies. We moedigen u aan om het privacybeleid van de relevante social media platforms te lezen voor meer informatie over hoe zij omgaan met uw Persoonsgegevens.
        </p>
        <h4>Advertentie-cookies</h4>
        <p>
            Zoals hierboven aangegeven, maken we gebruik van externe analytische diensten en hebben we 'social meda-knoppen' op onze website geplaatst. Daardoor kunnen cookies van derden op jouw apparaat geplaatst worden, waaronder cookies voor advertentiedoeleinden. Wij zijn niet verantwoordelijk voor het plaatsen van deze cookies.
        </p>
        <h4>Cookies uitschakelen</h4>
        <p>
            Als u het gebruik en de plaatsing van cookies wilt uitschakelen, adviseren wij u om uw internetbrowserinstellingen aan te passen. We merken echter op dat het uitschakelen of verwijderen van bepaalde cookies kan betekenen dat u bepaalde functies van onze website niet langer kunt gebruiken of dat het algehele functioneren van onze website kan verminderen.
        </p>
        <p>
            Raadpleeg de volgende koppeling voor meer informatie over het uitschakelen van het gebruik van Google Analytics: https://tools.google.com/dlpage/gaoptout.
        </p>
        <h3>Hoe kunt u uw toestemming herroepen? (Opt-Out)</h3>
        <p>
            U kunt te allen tijde uw toestemming voor het verzamelen, verwerken en gebruiken van uw Persoonsgegevens voor de toekomst herroepen en CollAction verzoeken te stoppen met het gebruiken en verzamelen van uw Persoonsgegevens (“<b>opt out</b>”).
        </p>
        <p>
            Om u af te melden, dient u een verzoek in bij CollAction via e-mail of per post met het onderwerp "Opt-Out verzoek CollAction". De contactgegevens van CollAction vindt u hieronder. Na ontvangst, verificatie en bevestiging van uw verzoek, zal CollAction uw verzoek zo snel mogelijk verwerken. We merken hierbij op dat dit niet automatisch afmelding voor onze nieuwsbrieven omvat.
        </p>
        <p>
            Als u zich alleen wilt afmelden voor onze nieuwsbrieven, klik op 'inschrijving op de e-maillijst opzeggen' (in het Engels: 'unsubscribe from the mailing list') onderaan de nieuwsbrief. Deze opt-out is niet van toepassing op communicatie welke relevant is voor de diensten die u heeft aangevraagd of waaraan u deelneemt of waarvoor we u meldingen moeten sturen (zoals een kennisgeving van een update van ons beleid).
        </p>
        <h3>Welke andere rechten heb ik?</h3>
        <p>
            Behoudens enkele wettelijke beperkingen, kunt u te allen tijde een verzoek indienen bij CollAction om het volgende te doen:
        </p>
        <ul>
            <li>toegang te krijgen tot uw Persoonsgegevens;</li>
            <li>uw Persoonsgegevens te corrigeren of te wissen;</li>
            <li>de verwerking van uw Persoonsgegevens te beperken of bezwaar te maken tegen een dergelijke verwerking; en</li>
            <li>uw Persoonsgegevens naar een andere verwerkingsverantwoordelijke over te dragen door deze in een gestructureerde en standaardindeling te ontvangen.</li>
        </ul>
        <p>
            Deelnemers hebben ook het recht om een klacht in te dienen tegen CollAction bij de Nederlandse toezichthoudende autoriteit (Autoriteit Persoonsgegevens) met betrekking tot de verwerking van uw Persoonsgegevens.
        </p>
        <h3>Veiligheid</h3>
        <p>
            CollAction doet er alles aan om uw Persoonsgegevens te beschermen en neemt alle redelijke voorzorgsmaatregelen om dit te doen. Hoewel we geen volledige bescherming kunnen garanderen, evalueren we regelmatig onze procedures voor het verzamelen, opslaan en verwerken van informatie om na te gaan of aanvullende beveiligingsmaatregelen moeten worden genomen.
        </p>
        <h3>Contactinformatie</h3>
        <p>
            Als u hieromtrent zorgen of verzoeken heeft, geef deze dan door aan:
        </p>
        <address>
            Stichting CollAction<br />
            Admiraal De Ruijterweg 309-4 <br />
            1055 LX Amsterdam
        </address>
        <p>
            of
        </p>
        <p>
            <a href="mailto:collactionteam@gmail.com">collactionteam@gmail.com</a>
        </p>
        <p>
            We zullen binnen een redelijke termijn op uw verzoek reageren, en in elk geval binnen 30 dagen na ontvangst.
        </p>
        <h3>Wijzigingen in ons beleid</h3>
        <p>
            Mogelijk moeten we ons beleid af en toe aanpassen of bijwerken. Dit zal elk vorig Beleid vervangen. Mochten er wezenlijke wijzigingen in ons beleid worden aangebracht, dan zullen we u hiervan op de hoogte brengen door deze op de website te plaatsen en ook op andere plaatsen die wij gepast achten. We raden u ook aan ons Beleid regelmatig te lezen om op de hoogte te blijven.
        </p>
        <h3>Toepasselijk recht</h3>
        <p>
            Op dit Beleid is Nederlands recht van toepassing, zonder rekening te houden met beginselen van het conflictenrecht.
        </p>
    </div>
</div>