@import "./globals.scss";

#project-create-form {
  background-color: #efefef; 
  padding: 50px 0px;
}

#project-create-nice {
  background-color: #efefef; 
  padding: 50px 0px;

  h1 {
    color: $coll-action-green;
  }
  
  #nice-circle {
    background-color: $coll-action-green;
    width: 250px; 
    height: 250px; 
    border-radius: 250px;
    font-size: 5em;
    color: #fff;
    padding: 70px 45px 40px 45px
  }

  p {
    line-height: 1.5;
    font-size: 1.25em;
  }
}

#project-create-starting {
  padding: 50px 0px;

  h1 {
    text-align: center;
    color: $coll-action-green;
    text-transform: uppercase;
    font-size: 4em;
    letter-spacing: 10px;
    margin: 0px 0px 5px 0px;
  }

  h4 {
    color: gray; 
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 0px;
  }

  ul {
    list-style-type: none;
    margin :0px;
    padding :0px;
    width: 200px;
  }

  li {
    cursor: pointer;
    margin: 20px 0px;
  }

  .coll-action-dot-point {
    background-color: #23D884;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 22px;
    font-size: 1.5em;
    text-align: center;
    padding-top: 4px;
  }

  p {
    color: $coll-action-green;
    font-size: 1.25em;
  }

  .selected {
    background-color: #23D884;
    border-radius: 22px;
    color: #fff;
  }

}

#find-project {
  width: 100%;

  #project-filter {
    color: #eee;
    padding: 30px;
    background-color: #333;
    font-size: 3em;

    .project-filter-drop-down {
      cursor: pointer;
      display: inline-block;
      border: 3px solid #eee;
      padding: 0px 25px;
      border-radius: 35px;
      margin: 15px;
      user-select: none;
      position: relative;

      i {
        font-size: 0.75em;
        margin-left: 5px;
      }

      .drop-down-options {
        position: absolute;
        z-index: 1;
        -webkit-box-shadow: 10px 10px 10px -5px rgba(170,170,170,1);
        -moz-box-shadow: 10px 10px 10px -5px rgba(170,170,170,1);
        box-shadow: 10px 10px 10px -5px rgba(170,170,170,1);
        background-color: #fff;
        color: #333;
        padding: 15px;
        border-radius: 15px;
        width: 200px;
        font-size: 16px;
        left: 0px;

        ul {
          margin: 0px;
          padding: 0px;
          li {
            list-style: none;
            margin: 10px 0px;
          }
        }
      }
    }
  }
}

#start-project {
  #project-steps {
    h1, h6 {
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    h6 {
      font-size: 2.5em;
    }
  }

  #nice-button {
    background-color: $coll-action-green;
    color: #fff;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    padding: 50px;
    font-size: 6em;
    font-weight: 900;
    padding: 90px 50px;
  }

  h2 {
    color: $coll-action-green;
  }

  p {
    font-size: 1.25em;
  }

  .row {
    margin-bottom: 50px;
  }

  h1 {
    font-size: 4em;
    color: $coll-action-green;
  }

}

#project-details {
  .project-image {
    color: #999;

    .caption {
      padding-right: 0px !important;
    }

    .image {
      padding-left: 0px !important;
      i {
        position: relative;
        top: -295px;
        left: 745px;
      }
    }

    figcaption {
      h5 {
        padding: 0px;
        margin: 0px;
      }

      p {
        margin-top:0px;
      }

      width:100%;
      background-color: #ebebeb;
      padding: 15px;
    }

    img {
      background-color: gray;
      width:100%;
      max-height: 300px;
      box-shadow: 5px 5px 20px -9px rgba(0, 0, 0, 0.45)
    }
  }

  #project-background {
    background-color: #ff8142;
    height: 450px;
  }

  #project-info-card {
    border-radius: 20px;
    margin: -265px 20px 20px 20px;
    background-color: #fff;
    padding: 40px;
    box-shadow: 10px 10px 122px -9px rgba(0,0,0,0.55);

    #more-info {
      p {
        margin: 0px;
      }
    }

    #more-info,
    #project-location {
      text-align: center;
      width: 80%;
      margin: 0 auto;
      font-size: 1.25em;
    }

    #project-participation {
      font-size: 1.25em;
      li {
        list-style: none;
        display: inline-block;
        width: 25%;
        h4 {
          margin: 0px 0px 5px 0px;
        }

        p {
          margin:0px;
        }
      }

    }


    h1 {
      text-align: center;
      color: $coll-action-green;
    }

    #take-part-button {
      @include coll-action-button;
      width: 100%;
      display: inline-block;
    }

    #project-category {
      background-color: #00AEEF;
      padding: 0px 10px;
      border-radius: 5px;
      color: #fff;
      display: inline-block;
      text-align: right;
    }

    #project-progress {
      display: table;
      margin: 0 auto;
      margin-bottom: 35px;

      canvas {
        margin-bottom: -30px;
        margin-right: 20px;
      }

      h2 {
        display: inline;
        font-size: 5em;
      }
  }

  }

  #project-starter-row {
    margin-top: 40px;
  }
    

  #project-starter-avatar {
    background-color: #ff8142;
    border-radius: 250px;
    height: 150px;
    width: 150px;
  }
}
